{% load static %}


<table id="offers-table">
    {% if offers_in_cart|length > 0  %}
        {% comment %} <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr> 
        </thead> {% endcomment %}
        <tbody>
        {% for offer in offers_in_cart %}
            <tr>
                <td class="col-6 text-center align-middle">{{ offer.name }}</td>
                <td class="col-1 text-center align-middle">{{ offer.quantity }}</td>
                <td class="col-1 text-center align-middle">
                    <button
                        hx-confirm="Вы уверены?"
                        hx-target="#offers-table"
                        hx-delete="{% url 'cart_remove' offer_id=offer.id %}"
                        class="btn btn-danger"
                        {% comment %} hx-refresh="true"  {% endcomment %}
                        hx-swap="innerHTML"
                        id="remove-offer-button"
                    ><img src="{% static 'images/offer/delOffer.svg' %}" alt="">
                </button>
                </td>
            </tr>
        {% endfor %}
        <div id="indicator" style="display:none;">Подождите, идет обновление...</div>
        </tbody>
    {% endif %}
</table>







