<table class="cart">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody>
    {% for offer in offers_in_cart %}
        <tr>
            <td>{{ offer.name }}</td>
            <td>{{ offer.quantity }}</td>
            <td hx-confirm="Вы уверены?" hx-target="closest tr" hx-swap="outerHTML">
                <button class="btn btn-danger" hx-delete="{% url 'cart_remove' offer_id=offer.id %}">Удалить</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

