{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Отправить запрос</title>
{% endblock %}
{% block content %}
    <h1>Ваш запрос</h1>
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <table class="cart">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>Количество</th>
        </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.name }}</td>
                <td>{{ offer.quantity }}</td>
                <td><a href="{% url "cart_remove" offer.id %}">Удалить</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'nda_email/contactform.html' %}
{% endblock %}