
.headerInner .me-2 {
    margin-right: 0!important;
}

.footerInner {
    width: auto;
}
.infoMain {
    width: auto;
}

@media screen and (max-width: 900px) {
    .subheaderImage .buttonInfo svg,
    .subheaderInfo .buttonInfo svg {
        transform: rotate(270deg);
    }
    .subheaderImage img {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .infoMain {
        width: auto;
    }
    .footerInner {
        width: auto;
    }
}

html {
    scrollbar-width: unset;
}