{% load static %}

{% load script_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
   
    {% endblock%}
    <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}" type="image/x-icon">

    {% block metatag %}
    
    {% endblock %}

    <!-- Скрипты в HEAD -->
    {% render_scripts 'head' %}

    <script src="{% static 'scripts/jquery.min.js' %}" defer></script>
    <script src="{% static 'htmx/htmx.min.js' %}" defer></script>
    <script src="{% static 'scripts/intlTelInput.min.js' %}" defer></script>
    
    {% block links %}
    
    {% endblock  %}
    
    <script src="{% static 'scripts/slick.min.js' %}" defer></script>
    
    <link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slick.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/media.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'custom/css/custom.css' %}" type="text/css">
    {% block styles %}

    {% endblock %}

</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <!-- Скрипты после открытия BODY -->
    {% render_scripts 'body_start' %}

    {% block content%}
  
    {% endblock %}  
    <div class="container1">
        <div class="toast-container position-fixed">
            <div id="toast" class="toast align-items-center border-0 " role="alert"
                aria-live="assertive" aria-atomic="true">
              <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                <div class="d-flex toastInner">
                    <img src="{% static 'images/successM.svg' %}" alt="">
                    <div id="toast-body" class="toast-body"></div>
                </div>
            </div>
          <div id="toast-order" class="toast align-items-center border-0 " role="alert"
               aria-live="assertive" aria-atomic="true">
            <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            <div class="d-flex toastInner">
              <img src="{% static 'images/successM.svg' %}" alt="">
              <div id="toast-order-body" class="toast-body"></div>
            </div>
          </div>
            <div id="toast-warning" class="toast align-items-center border-0" role="alert"
                aria-live="assertive" aria-atomic="true">
              <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                <div class="d-flex toastInner">
                    <img src="{% static 'images/dangerM.svg' %}" alt="">
                    <div id="toast-warning-body" class="toast-body"></div>
                </div>
            </div>
        </div> 

        <div id="cookie-consent" style="display:none;">
            <div class="cookieEl cookieElText">
                Наш сайт использует куки. Продолжая им пользоваться, вы соглашаетесь с нашей <a href="{% url 'privacy' %}" style="text-decoration: underline; color: black;">политикой конфиденциальности</a>.
            </div>
            <div class="cookieEl cookieElButton">
                <button id="cookie-consent-button">Согласен!</button>
            </div>
          </div>
    </div>

    {% block script%}
    
    {% endblock%}

    {% include "core/components/footer.html" %}
    
    <script src="{% static 'scripts/indexCarouselInfo.js' %}" defer></script>
    <script src="{% static 'scripts/indexCarouselSubheader.js' %}" defer></script>
    <script src="{% static 'scripts/formController.js' %}" defer></script>
    <script src="{% static 'scripts/buttonInFormController.js' %}" defer></script>
    <script src="{% static 'scripts/tableScript.js' %}" defer></script>
    <script src="{% static 'scripts/offers-htmx-handlers.js' %}" defer></script>
    <script src="{% static 'scripts/phoneMask.js' %}" defer></script>
    <script src="{% static 'scripts/formFiles.js' %}" defer></script>
    <script src="{% static 'scripts/cookieScript.js' %}" defer></script>
    <script src="{% static 'scripts/closeForms.js' %}" defer></script>
    <!-- <script src="{% static 'scripts/smartcaptcha.js' %}" defer></script> -->
    <script src="{% static 'scripts/lazysizes.min.js' %}" defer></script>
    <!-- awd -->

    <script>
        function modalClickHandler(event) {
           
            if (event.target.id === 'modal' || event.target.id === 'callModal' || event.target.id === 'emailModal') {
              window.location.reload();
            }
          }
          
          document.addEventListener('keydown', function(event) {
            if (event.key === 'Escape' || event.keyCode === 27) {
           
              window.location.reload();
            }
          });
      </script>
     <script>
        document.addEventListener('htmx:afterOnLoad', function(event) {
            const response = event.detail.xhr.response;
            if (response && response.resetCaptcha) {
                SmartCaptcha.reset();
            }
        });
      </script> 

    <!-- Скрипты перед закрытием BODY -->
    {% render_scripts 'body_end' %}
</body>
