{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    <title> Регистрационные удостоверения {{brand}}</title>
{% endblock %}

{% block canonical_link %}
     <link rel="canonical" href="https://nda.ru{{ request.path }}">
{% endblock %}

{% block metatag %}
  <meta name="keywords" content="РУ Минздрава">
  <meta property="og:url" content="https://nda.ru{{ request.path }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Регистрационные удостоверения {{brand}}">
  <meta name="description" content="Регистрационные удостоверения продукции {{brand}}">
{% endblock %}

{% block content %}
    <main class="certificates-inner">
      <div class="container">
        <nav class="breadcrumbs" aria-label="Хлебные крошки">
          <a class="breadcrumbs__link t-18" href="{% url 'home' %}">ГЛАВНАЯ</a>
          <span class="breadcrumbs__sep" aria-hidden="true">/</span>
          <a class="breadcrumbs__link t-18" href="{% url 'brands_with_certificates' %}">РУ и Сертификаты</a>
          <span class="breadcrumbs__sep" aria-hidden="true">/</span>
          <span class="breadcrumbs__current t-18 breadcrumbs__current_weight_medium">{{ brand.name }}</span>
        </nav>

        {% include 'core/components/banner.html' %}

        <section class="ru-table-wrap">
          <div class="ru-table">
            <ol class="ru-table__head">
              <li class="ru-table__th ru-table__th_num">№</li>
              <li class="ru-table__th ru-table__th_doc">Содержание документа (наименование продукции)</li>
              <li class="ru-table__th ru-table__th_ru-num">Номер РУ</li>
              <li class="ru-table__th ru-table__th_ru">РУ</li>
            </ol>
              {% for certificate in certificates %}
            <ol class="ru-table__ru-blue">
              <li class="ru-table__th ru-table__th_num">№</li>
              <li class="ru-table__td ru-table__td_num">{{ forloop.counter }}</li>
              <li class="ru-table__th ru-table__th_doc">Документ</li>
              <li class="ru-table__td ru-table__td_doc">{{ certificate.product.name }}</li>
              <li class="ru-table__th ru-table__th_ru-num">Номер РУ</li>
              <li class="ru-table__td ru-table__td_ru-num">{{ certificate.get_filename|slice:"3:12" }}</li>
              <li class="ru-table__th ru-table__th_ru">РУ</li>
              <li class="ru-table__td ru-table__td_action"><a class="ru-table__link" href="{{ certificate.file.url }}"><span
                    class="ru-table__link-text">Скачать</span><svg class="ru-table__link-icon" width="18" height="18"
                    viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M8 11L3 6h3V2h4v4h3L8 11zM2 14v-2h12v2H2z" fill="currentColor" />
                  </svg></a></li>
            </ol>
              {% endfor %}
          </div>
        </section>
      </div>
    </main>
{% endblock %}