{% extends 'core/base.html' %}
{% load static cache %}
{% load static %}

{% block title %}
<title> Регистрационные удостоверения {{brand}}</title>
{% endblock %}

{% block metatag %}
  <meta name="keywords" content="РУ Минздрава">
  <meta property="og:url" content="https://nda.ru{{ request.path }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Регистрационные удостоверения {{brand}}">
  <meta name="description" content="Регистрационные удостоверения продукции {{brand}}">
{% endblock %}

{% block content %}
  <header style="height: 0px;">
    <!-- летающая шапка -->
    {% include 'core/components/flyingHeader.html' %}
    <!-- летающая шапка -->
  </header>
  <main class="main">
    <div class="container1">
    {% cache 86400 'brand_certificates_breadcrumbs' brand.slug %}
      <div class="breadCrumbs">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">ГЛАВНАЯ</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'brands_with_certificates' %}">СЕРТИФИКАТЫ</a>
          </li>
          <li class="breadcrumb-item breadcrumb-item-active" aria-current="page">{{ brand.name }}</li>
        </ol>
      </div>
      {% endcache %}
     {% cache 86400 'brand_certificates_banner' brand.slug %}
      {% include 'core/components/banner.html' %}
      {% endcache %}

      <div class="more550">
        <div class="certificatesTable">
          {% cache 3600 'brand_certificate_table' brand.slug %}
          <table class="table table-responsive table-borderless">
            <thead>
              <tr class="table-header">
                <th class="col-1 text-center">№</th>
                <th class="col-11 text-center">Содержание документа</th>
                <th class="col-2 text-center">Номер РУ</th>
                <th class="col-2 text-center">РУ</th>
              </tr>
            </thead>
            <tbody>
                  {% for certificate in certificates %}
                    <tr class="table-row">
                      <td class="text-center align-middle">{{ forloop.counter }}</td>
                      <td class="text-center align-middle">{{ certificate.product.name }}</td>
                      <td class="text-center align-middle">{{ certificate.get_filename|slice:"3:12" }}</td>
                      <td class="text-center align-middle" id="certificateDownload">
                        <img src="{% static 'images/certificates/downloadCertificates.svg' %}" alt="" />  
                        <a href="{{ certificate.file.url }}">Скачать</a>
                      </td>
                    </tr>
                  {% endfor %}
            </tbody>
          </table>
          {% endcache %}
        </div>
      </div>

      <div class="less550">
        <div class="certificatesTable">
          {% cache 3600 'brand_certificate_table' brand.slug %}
          <table class="table table-responsive table-borderless">
            <thead>
              <tr class="table-header">
                <th class="col-2 text-center">№</th>
                <th class="col-9 text-center">Содержание документа</th>
                <th class="col-4  text-center">Номер РУ</th>
                <th class="col-3  text-center">РУ</th>
              </tr>
            </thead>
            <tbody>
                  {% for certificate in certificates %}
                    <tr class="table-row">
                      <td class="text-center align-middle">{{ forloop.counter }}</td>
                      <td class="text-start align-middle p-2">Устройство для дренирования ран в наборах и отдельных упаковках</td>
                      <td class="text-center align-middle">{{ certificate.get_filename|slice:"3:12" }}</td>
                      <td class="text-center align-middle" id= "certificateDownload">
                        <a href="{{ certificate.file.url }}">Скачать</a>
                      </td>
                    </tr>
                  {% endfor %}
            </tbody>
          </table>
          {% endcache %}
        </div>
      </div>

      <!-- плавающий элемент с формами связи -->
      {% include 'core/components/formsContainer.html' %}
      <!-- плавающий элемент с формами связи -->
      <!-- формы на странице -->
    </div>
  </main>
{% endblock %}
