{% extends 'core/base.html' %}
{% load static %}
{% load static cache %}

{% block title %}
<title> Контакты</title>
{% endblock%}

{% block metatag %}
  <meta name="keywords" content="Контакты с компанией">
  <meta name="description" content="Контакты с ООО &quot;НДА Деловая медицинская компания&quot;">
{% endblock %}

{% block styles %}

<link rel="stylesheet" href="{% static 'css/styleIndex.css' %}" type="text/css">
<link rel="preload" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'custom/css/custom.css' %}" type="text/css">
{% endblock %}

{% block content%}
<header style="height: 0px;">
    <!-- летающая шапка -->
    {% include "core/components/flyingHeader.html" %}
       
    <!-- летающая шапка -->
</header>
<main class="main">
    <div class="container1">
        <div class="breadCrumbs">
            <ol class="breadcrumb">
              <li class="breadcrumb-item ">
                <a href="{% url 'home' %}">ГЛАВНАЯ</a>
              </li>
              <li class="breadcrumb-item breadcrumb-item-active" aria-current="page"> КОНТАКТЫ </li>
            </ol>
        </div>
        <div class="brandBanner contactsBanner">
          <div class="brandLogo">
              <img src="{% static "images/contacts/contactsPhone.svg" %}" alt="">
          </div>
          <div class="brandInfo">
              <h1>Контакты</h1>
          </div>
      </div>
     <!-- карта     -->
     {% cache 86400 'contacts_map' %}
      <div class="contactsMap">
          <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A483b0761fd50f52fa933af3311c796503d73aaca44becb79b973a587356fa263&amp;source=constructor&theme=dark&scroll=false" width="100%" height="100%" frameborder="0"></iframe>
      </div>
      <!-- карта     -->
      {% endcache %}
       <!-- адреса -->
      <div class="addresses">
        {% cache 86400 'office_address' %}
          <div class="ContactAddress">
              <div class="addressImg">
                <img src="{% static "images/contacts/contactsSecond.svg" %}" alt="">
                <h3 class="less550">офис</h3>
              </div>
              <div class="addressInfo">
                  <h3 class="more550">офис</h3>
                  <div class="addressInfoEl">
                      <div class="addressInfoElImg">
                          <img src="{% static "images/contacts/location.svg" %}" alt="">
                      </div>
                      <div class="addressInfoElText">
                          190121, Санкт-Петербург, ул.Перевозная, 6 (о.Матисов)
                      </div>
                  </div>
                  <div class="addressInfoEl">
                      <div class="addressInfoElImg">
                        <img src="{% static "images/contacts/call.svg" %}" alt="">
                      </div>
                      <div class="addressInfoElText">
                          <a href="tel:+78127140614">+7 (812) 714 - 06 -14</a>
                      </div>
                  </div>
                  <div class="addressInfoEl">
                      <div class="addressInfoElImg">
                        <img src="{% static "images/contacts/time.svg" %}" alt="">
                      </div>
                      <div class="addressInfoElText">
                          с 10:00 до 18:00
                      </div>
                  </div>
                  <div class="addressInfoEl">
                      <div class="addressInfoElImg">
                        <img src="{% static "images/contacts/mail.svg" %}" alt="">
                      </div>
                      <div class="addressInfoElText">
                          <a href="mailto:nda@nda.ru">nda@nda.ru</a>
                      </div>
                  </div>
              </div>
          </div>
        {% endcache %}
        {% cache 86400 'warehouse_address' %}
          <div class="ContactAddress">
              <div class="addressImg">
                <img src="{% static "images/contacts/contactsThird.svg" %}" alt="">
                <h3 class="less550">склад</h3>
              </div>
              <div class="addressInfo">
                  <h3 class="more550">склад</h3>
                  <div class="addressInfoEl">
                      <div class="addressInfoElImg">
                        <img src="{% static "images/contacts/location.svg" %}" alt="">
                      </div>
                      <div class="addressInfoElText">
                          198095, Санкт-Петербург, Михайловский пер., <br> д.4 Лит. АН
                      </div>
                  </div>
                  <div class="addressInfoEl">
                      <div class="addressInfoElImg">
                        <img src="{% static "images/contacts/call.svg" %}" alt="">
                      </div>
                      <div class="addressInfoElText">
                          <a href="tel:+78127140614">+7 (812) 714 - 06 -14</a>
                      </div>
                  </div>
                  <div class="addressInfoEl">
                      <div class="addressInfoElImg">
                        <img src="{% static "images/contacts/time.svg" %}" alt="">
                      </div>
                      <div class="addressInfoElText">
                          с 10:00 до 18:00
                      </div>
                  </div>
                  <div class="addressInfoEl">
                      <div class="addressInfoElImg">
                        <img src="{% static "images/contacts/mail.svg" %}" alt="">
                      </div>
                      <div class="addressInfoElText">
                          <a href="mailto:nda@nda.ru">nda@nda.ru</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="ContactAddress mainAddress">
            <div class="addressImg">
                <img src="{% static "images/contacts/contactsFirst.svg" %}" alt="">
                <h3 class="less550">ООО "НДА Деловая медицинская компания"</h3>
            </div>
            <div class="addressInfo">
                <h3 class="more550">ООО "НДА Деловая медицинская компания"</h3>
                <p>Юр.адрес:199034, Санкт-Петербург, 16-я линия В.О., 
                    <br> д.7, литера А, помещ. 1-Н, часть №97 
                    <br> ИНН: 7801314509
                    <br>КПП 780101001
                    <br>Р/С: 40702810755230000143 ПАО Сбербанк
                    <br>К/С: 30101810500000000653
                    <br>БИК: 044030653
                    <br>ОГРН: 1167847307980
                </p>
            </div>
            </div>
        {% endcache %}
      </div>
     <!-- адреса -->
        <!-- заявка -->
        <!-- заявка -->
    </div>
    <!-- плавающий элемент с формами связи -->
    {% include "core/components/formsContainer.html" %}
    <!-- плавающий элемент с формами связи -->
</main>
{% endblock %}   
