{% extends 'core/base.html' %}

{% load static %}

{% block title %}
    <title> 500 </title>
{% endblock %}

{% block content %}
<main class="error">
    <div class="container">
        <div class="error-wrapper">
            <div class="error-content">
                <h1 class="error-content_title">500</h1>
                <p class="error-content_desc">
                    К сожалению, запрашиваемая страница не найдена
                </p>
                <a href="{% url 'home' %}" class="error-content_link">Вернуться на главную страницу</a>
            </div>
            <div class="error-image"><img src="{% static 'img/404.webp' %}" alt="404-background"></div>
        </div>
    </div>
</main>
{% endblock %}