{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<header style="height: 100px;">
     <!-- летающая шапка -->
     {% include "core/components/flyingHeader.html" %}
       
     <!-- летающая шапка -->
</header>
<body class="body">
    <div class="container1">
        <div class="notFoundContent">
         <div class="notFoundContentTitle">
             <h1>500</h1>
             <p>К сожалению, запрашиваемая
                 страница не найдена</p>
             <a href="{% url 'home' %}">
                 <div class="btn">Вернуться на главную страницу</div>
             </a>
             
         </div>
         <div class="nonFoundContentImage" style="background-image: url({% static 'images/404/notFound.svg' %});"></div>
        </div>
        
     </div>
</body>

{% endblock %}