{% extends 'core/base.html' %}
{% load pagination_tags %}
{% load static %}
{% load cache %}

{% block title %}
  <title>Результаты поиска</title>
{% endblock %}

{% block content %}
  <header style="height: 0px;">
    <!-- летающая шапка -->
    {% include 'core/components/header.html' %}

    <!-- летающая шапка -->
  </header>
  <main class="main">
    <div class="container1">
      <div class="searchResultHeader">
        <h1>Результат поиска</h1>
        <div class="searchPagination">
            {% if page_obj.has_previous %}
              <a href="{% url_with_query_params request %}">В начало</a>
              <a href="{% url_with_query_params request page_obj.previous_page_number %}" class="pagPrevBtn">
                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.75 12.3214L7.17857 6.53573L0.75 0.750014" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            {% else %}
              <a href="javascript:void(false)">В начало</a>
                <a href="javascript:void(false)" class="pagPrevBtn disabled">
                  <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.75 12.3214L7.17857 6.53573L0.75 0.750014" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
            {% endif %}
            {% if page_obj.paginator.num_pages > 1 %}
              <div class="pagination-numbers">
                  {% if page_obj.number > 3 %}
                      <a href="{% url_with_query_params request 1 %}">1</a>
                      {% if page_obj.number > 4 %}
                          <span class="pagination-ellipsis">...</span>
                      {% endif %}
                  {% endif %}

                  {% for num in page_obj.paginator.page_range %}
                      {% if num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                          {% if num == page_obj.number %}
                              <span class="current-page">{{ num }}</span>
                          {% else %}
                              <a href="{% url_with_query_params request num %}">{{ num }}</a>
                          {% endif %}
                      {% endif %}
                  {% endfor %}

                  {% if page_obj.number < page_obj.paginator.num_pages|add:-2 %}
                      {% if page_obj.number < page_obj.paginator.num_pages|add:-3 %}
                          <span class="pagination-ellipsis">...</span>
                      {% endif %}
                      <a href="{% url_with_query_params request page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
                  {% endif %}
              </div>
            {% endif %}
            {% if page_obj.has_next %}
              <a href="{% url_with_query_params request page_obj.next_page_number %}" class="pagNextBtn">
                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.75 12.3214L7.17857 6.53573L0.75 0.750014" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
              <a href="{% url_with_query_params request page_obj.paginator.num_pages %}">В конец</a>
            {% else %}
              <a href="javascript:void(false)" class="pagNextBtn disabled">
                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.75 12.3214L7.17857 6.53573L0.75 0.750014" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
              <a href="javascript:void(false)">В конец</a>
            {% endif %}
        </div>
      </div>
      <div class="searchResult">
        {% if messages %}
          {% for message in messages %}
            <div>{{ message }}</div>
          {% endfor %}
        {% elif object_list %}
          {% cache 600 page_obj.number request.GET.urlencode %}
            {% for product in object_list %}
              {% cache 600 product.pk %}
                <div class="searchResultEl">
                  <a href="{% url 'offer' brand_slug=product.brand.slug product_slug=product.slug %}">
                    <div class="searchResultName">
                      {{ product.name.upper }}
                    </div>

                    {% for offer in product.related_offers %}
                      <div class="searchResultArticle">
                       <div class="searchResultArticleName">
                        <div class="">Код товара: </div>
                        <div class=""><b>{{ offer.name | safe}}</b> </div>
                       </div>
                       <div class="searchResultArticleDescription">
                        <div class="">Описание: </div>
                        <div class="innerDescription">{{ offer.text_description | safe}}</div>

                       </div>
                      </div>
                    {% endfor %}
                  </a>
                </div>
              {% endcache %}
            {% endfor %}

          {% endcache %}
        {% else %}
          <div>По вашему запросу ничего не найдено. Попробуйте изменить запрос и попробовать снова</div>
        {% endif %}

        <div class="searchPagination --bottom">
            {% if page_obj.has_previous %}
              <a href="{% url_with_query_params request %}">В начало</a>
              <a href="{% url_with_query_params request page_obj.previous_page_number %}" class="pagPrevBtn">
                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.75 12.3214L7.17857 6.53573L0.75 0.750014" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            {% else %}
              <a href="javascript:void(false)">В начало</a>
                <a href="javascript:void(false)" class="pagPrevBtn disabled">
                  <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.75 12.3214L7.17857 6.53573L0.75 0.750014" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
            {% endif %}
            {% if page_obj.paginator.num_pages > 1 %}
              <div class="pagination-numbers">
                  {% if page_obj.number > 3 %}
                      <a href="{% url_with_query_params request 1 %}">1</a>
                      {% if page_obj.number > 4 %}
                          <span class="pagination-ellipsis">...</span>
                      {% endif %}
                  {% endif %}

                  {% for num in page_obj.paginator.page_range %}
                      {% if num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                          {% if num == page_obj.number %}
                              <span class="current-page">{{ num }}</span>
                          {% else %}
                              <a href="{% url_with_query_params request num %}">{{ num }}</a>
                          {% endif %}
                      {% endif %}
                  {% endfor %}

                  {% if page_obj.number < page_obj.paginator.num_pages|add:-2 %}
                      {% if page_obj.number < page_obj.paginator.num_pages|add:-3 %}
                          <span class="pagination-ellipsis">...</span>
                      {% endif %}
                      <a href="{% url_with_query_params request page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
                  {% endif %}
              </div>
            {% endif %}
            {% if page_obj.has_next %}
              <a href="{% url_with_query_params request page_obj.next_page_number %}" class="pagNextBtn">
                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.75 12.3214L7.17857 6.53573L0.75 0.750014" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
              <a href="{% url_with_query_params request page_obj.paginator.num_pages %}">В конец</a>
            {% else %}
              <a href="javascript:void(false)" class="pagNextBtn disabled">
                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.75 12.3214L7.17857 6.53573L0.75 0.750014" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
              <a href="javascript:void(false)">В конец</a>
            {% endif %}
        </div>

      </div>
    </div>
    <!-- плавающий элемент с формами связи -->
    {% include 'core/components/formsContainer.html' %}
    <!-- плавающий элемент с формами связи -->
  </main>

{% endblock %}
