{% extends 'core/base.html' %}
{% load static %}

{% block title %}
<title> Условия работы</title>
{% endblock%}

{% block metatag %}
  <meta name="keywords" content="Контакты с компанией">
  {% comment %} <meta property="og:url" content="https://nda.ru{{ request.path }}"> {% endcomment %}
  {% comment %} <meta property="og:title" content="РУ и сертификаты"> {% endcomment %}
  {% comment %} <meta property="og:type" content="website"> {% endcomment %}
  {% comment %} <meta property="og:description" content="Регистрационные удостоверения {{brand}}"> {% endcomment %}
  <meta name="description" content="Указаны условия работы с  ООО &quot;НДА Деловая медицинская компания&quot;">
  <meta name="keywords" content="Условия поставок">
{% endblock %}



{% block content%}
<header style="height: 0px;">
    <!-- летающая шапка -->
    {% include "core/components/flyingHeader.html" %}
       
    <!-- летающая шапка -->
</header>
<main class="main">
    <div class="container1">
        <div class="breadCrumbs">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">ГЛАВНАЯ</a>
              </li>
              <li class="breadcrumb-item breadcrumb-item-active" aria-current="page"> УСЛОВИЯ РАБОТЫ </li>
            </ol>
        </div>
        <div class="workInfo" style="background-image: url({% static 'images/workPage/main.png' %}); ">
            <div class="workLogo">
                <div class="workImage">
                    <img src="{% static "images/workPage/logo.svg" %}" alt="">
                </div>
                <div class="workTitle">
                    ДЕЛОВАЯ <br/>
                        МЕДИЦИНСКАЯ <br>
                        КОМПАНИЯ
                </div>
            </div>
            <h2>Уважаемые коллеги</h2>
            <p>
                В данном разделе мы попытаемся ответить на самые часто задаваемые вопросы относительно
                сотрудничества с нами.
            </p>
        </div>
        <h2 class="h2">Как заказать товар?</h2>
        <div class="howOrder">
            
            <div class="orderSteps">
                <div class="orderStepsEl" style="background-image: url({% static 'images/workPage/marks.svg' %});">
                    <div class="orderStepsElNumber">
                        1
                    </div>
                    <p>
                        Просто звоните нам - мы будем рады. <br>
                        Многоканальный телефон офиса: <br>
                        <a href="tel:+78127140614">+7 (812) 714-06-14</a>
                    </p>
                </div>
                <div class="orderStepsEl" style="background-image: url({% static 'images/workPage/marks.svg' %});">
                    <div class="orderStepsElNumber">
                        2
                    </div>
                    <p>
                        Если Вы хотите отправить запрос с сайта и знаете код товара, то просто введите нужный код в
                        окне поиска на любой странице. На странице товара на вкладке "Оформить заказ" можно выбрать
                        интересующий Вас код товара, указать количество и оформить запрос, нажав соответствующую
                        кнопку. При оформлении запроса мы попросим вас указать Ваше имя, контактную информацию и, по
                        возможности, реквизиты для более быстрой обработки заказа. Также вы можете оставить
                        уточняющие комментарии или пожелания - мы обязательно их учтем.
                    </p>
                </div>
                <div class="orderStepsEl" style="background-image: url({% static 'images/workPage/marks.svg' %});">
                    <div class="orderStepsElNumber">
                        3
                    </div>
                    <p>
                        Если Вы не знаете код товара, то можете написать нам письмо через форму обратной связи на
                        любой странице сайта, по возможности максимально подробно описав, что Вы хотите приобрести
                        (технические характеристики, фото, пожелания по комплектации приветствуются). Наши
                        специалисты по продукции постараются подобрать для Вас максимально подходящий товар.
                    </p>
                </div>
                <div class="orderStepsEl" style="background-image: url({% static 'images/workPage/marks.svg' %});">
                    <div class="orderStepsElNumber">
                        4
                    </div>
                    <p>
                        После обращения к нам за Вашей организацией будет закреплен персональный менеджер. Все
                        последующие действия Вы будете выполнять именно с ним (счета, отгрузки, доставка и т.п.) 
                    </p>
                </div>
            </div>
        </div>
        <h2 class="h2">Выставление коммерческого предложения или счета</h2>
        <div class="billing">
            <div class="bullingSteps">
                <div class="bullingStepsEl" style="background-image: url({% static "images/workPage/billing1.png" %});">
                    <div class="orderStepsElNumber">
                        1
                    </div>
                    <p>
                        Для продажи мы в обязательном порядке должны заключить с Вашей организацией договор
                        купли-продажи (в соответствие с требованиями законодательства РФ). Форму договора на
                        согласование наши сотрудники предоставят после подтверждения Вами заказа.
                    </p>
                </div>
                <div class="bullingStepsEl" style="background-image: url({% static "images/workPage/billing2.png" %});">
                    <div class="orderStepsElNumber">
                        2
                    </div>
                    <p>
                        В процессе подготовки счета для оплаты Вы сможете согласовать с сотрудниками ООО "НДА
                        Деловая медицинская компания" условия оплаты, способ доставки, наличие на складе и прочую
                        интересующую вас информацию.
                    </p>
                </div>
            </div>
        </div>

        <h2 class="h2">Наличие и резервирование товара</h2>
        <div class="reservation">
            <div class="deliverySteps">
                <div class="reservationStepsEl" style="background-image: url({% static 'images/workPage/marks.svg' %});">
                    <div class="orderStepsElNumber">
                        1
                    </div>
                    <p>
                        После выставления Вам счета, при условии, что товар есть в наличии на складе, товар резервируется за вами на 14 дней. По истечении этого срока, если не была внесена оплата по счету, наша система 1С автоматически снимет резерв, без участия сотрудника. Во избежание неприятных ситуаций, просим Вас соблюдать сроки оплаты счетов.
                    </p>
                </div>
                <div class="reservationStepsEl" style="background-image: url({% static 'images/workPage/marks.svg' %});">
                    <div class="orderStepsElNumber">
                        2
                    </div>
                    <p>
                        Складская матрица номенклатуры в ООО "НДА Деловая медицинская компания" включает в себя несколько тысяч различных товарных позиций, и мы стараемся поддерживать по ним необходимый складской запас. Однако случается и так, что товара нет у нас на складе. В таком случае, Вы можете уточнить сроки поставки у сотрудника, с которым Вы работаете и принять решение, готовы вы ждать товар или нет.
                    </p>
                </div>
                <div class="reservationStepsEl" style="background-image: url({% static 'images/workPage/marks.svg' %});">
                    <div class="orderStepsElNumber">
                        3
                    </div>
                    <p>
                        Если нужная вам позиция является складской, то Вы можете разместить заказ без внесения предоплаты, просто подтвердив заказ по электронной почте.
                    </p>
                </div>
                <div class="reservationStepsEl" style="background-image: url({% static 'images/workPage/marks.svg' %});">
                    <div class="orderStepsElNumber">
                        4
                    </div>
                    <p>
                        В случае размещения заказа на позиции, цена на которые зависит от курса валют, то вам будет выставлен предварительный счет в соответствующей валюте. Окончательный счет в рублях будет вы ставлен после получения нами товара на наш склад по курсу, действующему на дату получения. 
                    </p>
                </div>
                <div class="reservationStepsEl" style="background-image: url({% static 'images/workPage/marks.svg' %});">
                    <div class="orderStepsElNumber">
                        5
                    </div>
                    <p>
                        Если нужная вам позиция не является складской, то для размещения такого заказа необходимо будет внести предоплату в размере, согласованном с вашим менеджером. Отказаться от такого товара после внесения предоплаты и размещения заказа, как правило, невозможно, к сожалению.
                    </p>
                </div>
            </div>
        </div>
        <div class="reservationImagesNew">
            <div class="reservationImagesEl" style="background-image: url({% static 'images/workPage/reservation1.png' %});"></div>
            <div class="reservationImagesEl" style="background-image: url({% static 'images/workPage/reservation2.png' %});"></div>
            <div class="reservationImagesEl" style="background-image: url({% static 'images/workPage/reservation3.png' %});"></div>
        </div>



        <h2 class="h2">Доставка товара</h2>
        
        <div class="delivery">
            <div class="deliverySteps">
                <div class="deliveryStepsEl">
                    <div class="orderStepsElNumber">
                        <img src="{% static "images/workPage/delivery1.svg" %}" alt="">
                    </div>
                    <p>
                        В настоящее время на нашем складе работает пункт приема компании «Деловые линии», которая
                        ежедневно, минимум один раз в день, производит забор отгруженного товара. Возможна доставка
                        либо до нужного терминала в вашем городе, либо до указанного вами адреса. Доставка
                        оплачивается отдельно, по счетам, выставляемым «Деловыми линиями». При заборе товара
                        «Деловые линии» предоставят нам транспортную накладную, подтверждающую получение от нас
                        груза, по которой в дальнейшем можно отследить доставку товара.
                    </p>
                </div>
                <div class="deliveryStepsEl">
                    <div class="orderStepsElNumber">
                        <img src="{% static "images/workPage/delivery2.svg" %}" alt="">
                    </div>
                    <p>
                        При необходимости срочной доставки вы можете вызвать курьера к нам на склад, заранее
                        предупредив об этом вашего менеджера для ускорения процесса сборки и подготовки товара для
                        забора курьером. Обратите внимание, что вызывать курьера следует только после подтверждения
                        готовности товара для забора. Курьер должен предоставить транспортную накладную для
                        получения товара.
                    </p>
                </div>
                <div class="deliveryStepsEl">
                    <div class="orderStepsElNumber">
                        <img src="{% static "images/workPage/delivery3.svg" %}" alt="">
                    </div>
                    <p>
                        Также мы бесплатно доставляем товар до терминалов любой удобной для Вас транспортной
                        компании в Санкт-Петербурге. 
                    </p>
                </div>
                <div class="deliveryStepsEl">
                    <div class="orderStepsElNumber">
                        <img src="{% static "images/workPage/delivery4.svg" %}" alt="">
                    </div>
                    <p>
                        Для организаций, расположенных в Санкт-Петербурге, возможен самовывоз товара с нашего склада
                        по рабочим дням с 10.00 до 17.00. Для получения товара необходимо иметь при себе либо
                        оригинал доверенности на забор груза, либо печать организации.
                    </p>
                </div>
                <div class="deliveryStepsEl">
                    <div class="orderStepsElNumber">
                        <img src="{% static "images/workPage/delivery5.svg" %}" alt="">
                    </div>
                    <p>
                        Как правило, отгруженный вам товар готов для забора на следующий день после передачи товара
                        на сборку. Возможен самовывоз или забор курьером день в день, по согласованию с вашим
                        менеджером. 
                    </p>
                </div>

            </div>
        </div>
        <h2 class="h2">Возврат и Финансовые условия</h2>
        <div class="refund">
            <div class="refundEl">
                <h3>Возврат товара</h3>
                <p>К сожалению, возврат изделий медицинского назначения невозможен, в соответствии с
                    законодательством Российской Федерации, за исключением отдельных случаев, при сохранении
                    целостности заводской упаковки, по согласованию с вашим менеджером.</p>
            </div>
            <div class="refundEl">
                <h3>Финансовые условия</h3>
                <p>Мы работаем на условиях 100 процентной предоплаты, за исключением случаев заказа товара с
                    длительным сроком поставки, однако можем предложить нашим постоянным партнерам гибкие условия
                    работы, такие как отсрочка оплаты, доставка товара нашими силами (при возможности) и т.п. Все
                    условия вы можете обсудить с вашим персональным менеджером.</p>
            </div>
        </div>
        <div class="truck" style="background-image: url({% static 'images/workPage/truck.png' %});"></div>
    </div>
       <!-- плавающий элемент с формами связи -->
       {% include "core/components/formsContainer.html" %}

        <!-- плавающий элемент с формами связи -->
</main>
{% endblock %}   


  

   