@media(max-width: 20000px) {
    .truck {
        height: 600px;
    }

    .container1 {
        max-width: 1920px;
        margin: auto;
        padding: 0;
    }

    nav {
        max-width: 1920px;
    }

    header {
        height: 1080px;
    }

    .subheaderImage {
        height: 864px;
    }


}


@media(min-width: 1920px) {
    .container1 {
        max-width: 1824px;
        margin: auto;
        padding: 0;
    }

    nav {
        width: 1824px;
    }

    header {
        height: 100%;
    }


    .slider .subheaderInfo {
        padding: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
 
        justify-content: start;
        text-align: left;
    }

    .subheaderImage {
        height: 864px;
    }

}



@media(width < 1920px) {
    .truck {
        height: 470px;
    }

    .container1 {
        max-width: 95vw;
        margin: auto;
        padding: 0;
    }
    header {
        height: auto;
    }
}

@media (max-width: 1820px) {


    .addressInfo h3 {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 28px;
        line-height: 133%;
        text-transform: uppercase;
        color: #1a1a18;
        margin-bottom: 20px;
    }



    .orderStepsElNumber {
        width: 60px;
        height: 60px;
        font-size: 30px;
    }

    .addressInfo p {
        font-size: 16px;
    }

    /* work.html */
    .work p {
        font-size: 18px;
    }

    .reservation span {
        font-size: 18px;
    }

    h2 {
        font-size: 80px;
    }


    .el1 {
        width: 639px;
        height: 500px;
    }

    .el1 img {
        width: 639px;
        height: 500px;
    }

    .el2 {
        width: 299px;
        height: 440px;
    }

    .el2 img {
        width: 299px;
        height: 440px;
    }

    .el3 {
        width: 299px;
        height: 440px;
    }

    .el3 img {
        width: 299px;
        height: 440px;
    }


    .workInfo {
        padding: 40px;
    }


    .reservationImages {
        height: 480px;
    }


    .catalogItemImg img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        object-fit: contain;
    }

    .catalogItems h3{
        font-size: 23px;
    }

    /* work.html */

}



@media (max-width: 1440px) {
    .el {
        font-size: 16px;
    }

    .time {
        font-size: 14px;
    }

    .number {
        font-size: 16px;
    }

    nav {
        height: 70px;
    }

    .logo img {
        height: 50px;
    }

    .logo {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 114%;
        color: #1a1a18;
    }

    .formInner {
        width: 180px;
    }

    .formInner,
    input,
    input::placeholder {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        color: #b7b7b7;
    }

    .info {
        width: 100px;
    }

    .rightSideInner {
        justify-content: space-evenly;
    }




    /* subheader */
    .subheaderInfo h3 {
        font-weight: 500;
        font-size: 30px;
    }

    .subheaderInfo h1 {
        font-weight: 700;
        font-size: 68px;
        line-height: 133%;
    }

    .subheaderImage img {
        margin-top: 40px;
        min-width: auto;
        max-width: 600px;
        max-height: 600px;
        min-height: 300px;

    }

    .subheaderSlider{
        padding-top: 100px;
        height: auto;
    }


    /* catalog */
    .choice {
        width: 60vw;
    }

    .catalogItemImg img {
        height: 160px;
    }

    .emptyEl {
        width: 280px;

    }

    .catalogItem h3 {
        font-size: 20px;
    }

    .catalogItem p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
    }


    .infoMain {
        padding: 40px;
        padding-bottom: 10px;
        gap: 20px;
    }

    .infoImg {
        width: 45vw;
    }

    .infoText h3 {
        font-size: 54px;
        white-space: nowrap;
    }

    .infoText p {
        font-size: 18px;
    }





    .infoText p {
        font-size: 16px;
    }

    /* footer */

    .footerInner {
        padding: 60px;
    }


    .footerLogoText {
        font-size: 18px;
    }

    .footerDataEls span {
        font-size: 16px;
    }

    .footerDataEls h4 {
        font-size: 18px;
    }

    .footerDataEls li {
        font-size: 16px;
    }


    /* footer */
    /* product.html */

    .productTitleText h3 {
        font-size: 28px;
    }


    /* brand.html */
    .main {
        margin-top: 150px;
    }





    .brandInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .brandInfo h1 {
        font-size: 50px;
    }

    .brandInfo h2 {
        font-size: 25px;
    }



    .sliderContainer {
        height: 700px;
    }

    /* contacts.html */




    .applicationText h3 {
        font-size: 86px;
    }

    /* contacts.html */

    /* 404.html */
    .notFoundContentTitle h1 {
        font-size: 280px;
    }

    .notFoundContentTitle p {
        font-size: 30px;
    }

    /* 404.html */

    /* product.html */



    /* product.html */


    /* work.html */

    h2 {
        font-size: 80px;
    }

    .work p {
        font-size: 16px;
    }

    .reservation span {
        font-size: 16px;
    }

    .el1 {
        width: 639px;
        height: 500px;
    }

    .el1 img {
        width: 639px;
        height: 500px;
    }

    .el2 {
        width: 299px;
        height: 440px;
    }

    .el2 img {
        width: 299px;
        height: 440px;
    }

    .el3 {
        width: 299px;
        height: 440px;
    }

    .el3 img {
        width: 299px;
        height: 440px;
    }


    .workInfo {
        padding: 40px;
    }

    .orderStepsEl p {
        font-size: 18px;
    }

    .reservationImages {
        height: 480px;
    }

    .reservation li {
        font-size: 18px;
    }



    .workLogo {
        margin-bottom: 20px;
    }

    .workInfo {
        padding: 40px;
        height: 320px;
    }

    .workInfo h2 {
        font-size: 60px;
    }

    .workInfo p {
        font-size: 20px
    }

    .h2 {
        font-family: var(--font3);
        font-weight: 700;
        font-size: 80px;
        line-height: 111%;
        color: #1a1a18;
        margin-top: 100px;
        margin-bottom: 40px;
        text-align: center;
    }

    h2 {
        margin-top: 100px;
        font-size: 60px;
        font-weight: 700;
        font-size: 90px;
        line-height: 111%;
        color: #1a1a18;
        margin-bottom: 40px;
    }

    .el1 {
        width: 639px;
        height: 500px;
    }

    .el1 img {
        width: 639px;
        height: 500px;
    }

    .el2 {
        width: 299px;
        height: 440px;
    }

    .el2 img {
        width: 299px;
        height: 440px;
    }

    .el3 {
        width: 299px;
        height: 440px;
    }

    .el3 img {
        width: 299px;
        height: 440px;
    }


    .workInfo {
        padding: 40px;
    }

    .orderStepsEl p {
        font-size: 18px;
    }


    .reservationImagesEl {
        border-radius: 10px;
        background-size: cover;
        height: 300px;
    }

    .truck {
        height: 400px;
    }

    .bullingStepsEl {
        font-size: 18px;
    }

    .reservationStepsEl {
        font-size: 18px;
    }

    .deliveryStepsEl {
        font-size: 18px;
    }

    .refundEl p {
        font-size: 18px;
    }

    /* work.html */

    .orderStepsEl {
        padding: 20px;
    }

    .addressInfo h3 {
        font-size: 25px;
    }

    .addressInfoElText {
        font-size: 18px;
    }

    .addressInfo p {
        font-size: 18px;
    }

    .choice ul li {
        width: 50%;
    }

    /* .linkText{
        font-size: 18px;
        margin-bottom: 20px;
    } */

    .productDescription{
        font-size: 18px;
    }

    .map{
        margin-top: 0;
    }

    .contacts {
        width: 170px;
    }

    /* .productTitleText p{
        font-size: 18px;
    } */

    #cookie-consent {
        font-size: 20px;
    }
    
}


@media (max-width: 1260px) {

    .subheaderSlider {
        height: auto;
    }

    .headerList {
        width: 57%;

    }

    .el {
        padding: 0 6px;
    }

    .logo span {
        display: none;
    }

    /* subheader */
    .subheaderInfo h3 {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
    }

    .subheaderInfo h1 {
        font-weight: 700;
        font-size: 60px;
        line-height: 133%;
    }


    .subheaderImage {
        margin-right: 0;
        margin-top: 100px;
    }

    .subheaderImage img {
        min-width: auto;
        max-width: 450px;
       
        height: 55vh;
    }


  

    /* catalog */
    .catalog h2 {
        font-size: 60px;
    }

    .catalogItems {
        gap: 30px;
    }

    .choice {
        font-size: 18px;
    }

    .catalog {
        /* margin-top: 0; */
    }

    .catalog h2 {
        margin: 0;
        margin-bottom: 30px;
    }


    .catalogItemImg img {

        height: 120px;
    }

    .emptyEl {
        width: 220px;

    }

    .catalogItem h3 {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
    }

    .catalogItem p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
    }

    .infoText h3 {
        font-size: 56px;
    }

    .infoText p {
        font-size: 14px;
    }




    .infoMain {
        gap: 30px;
    }

    .footerInner {
        padding: 30px;
    }

    .footerBottom {
        margin-top: 80px;
    }

    .footerLogo {
        width: 45%;
    }

    /* product.html */


    .slider-nav {
        height: 150px;
    }

    .productTitle {
        height: auto;
        padding: 20px;
    }

    */ .productTitleText h3 {
        font-size: 20px;
    }

    .productTitleText h2 {
        font-family: var(--third-family);
        font-weight: 700;
        font-size: 60px;
    }

    .productTitleText p {
        font-family: var(--font-family);
        /* font-weight: 500;
        font-size: 16px; */
    }

    .productTitleText li {
        font-size: 18px;
    }



    /* brand.html */
    .main {
        margin-top: 150px;
    }

    .catalogBrandItem {

        font-size: 26px;

    }

    .catalogBrandItemImg {
        height: 180px;
        width: 180px;
    }

    .catalogBrandItemImg img {
        width: 180px;
        height: 100%;
    }

    /* contacts.html */
   


    .applicationText h3 {
        font-size: 82px;
    }

    /* contacts.html */


    /* 404.html */
    .notFoundContentTitle h1 {
        font-size: 220px;
    }

    .notFoundContentTitle p {
        font-size: 25px;
    }

    /* 404.html */


    /* product.html */
    .productHead {
        width: 100%;
    }

    .productTitle {
        height: auto;
    }

    .productCarousel {
        height: auto;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .slider-nav {
        margin-top: 150px;
    }

    .sliderNavEl {
        background: #fff;
        width: 200px;
        background-size: 150px 150px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        height: 200px;
        /* Задаем фиксированную ширину для миниатюр */
        margin: 0 10px;
    }


    .sliderContainer {
        height: 700px;
    }





    .slider-nav {
        height: 200px;
    }

    .slider-arrows {
        margin-top: 60px;
    }

    .linkContacts {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: start;
    }



    /* work.html */

    .reservation {
        flex-direction: column-reverse;
    }

    .reservationImages {
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 0;
        height: 300px;
    }

    .reservationImages img {
        height: 300px;
    }

    .reservationText h2 {
        text-align: center;
    }

    .el1 {
        width: 482px;
        height: 350px;
    }

    .el2 {
        width: 235px;
        height: 350px;
    }

    .el3 {
        width: 235px;
        height: 350px;
    }

    .el1 img {
        width: 482px;
        height: 350px;
    }

    .el2 img {
        width: 235px;
        height: 350px;
    }

    .el3 img {
        width: 235px;
        height: 350px;
    }

    .truck {
        height: 350px;
    }

    .orderStepsEl p {
        font-size: 18px;
    }

    .orderStepsEl {
        height: auto;
    }

    .orderStepsElNumber {
        margin-bottom: 20px;
    }

    .refundEl {
        height: auto;
        font-size: 18px;
    }

    .bullingStepsEl {
        font-size: 18px;
    }

    .deliveryStepsEl {
        font-size: 18px;
        height: auto;
    }


    .reservationImagesEl {
        border-radius: 10px;
        background-size: cover;
        height: 250px;
    }

    /* work.html */
    .productHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: auto;
    }

    .productCarousel {
        width: 100%;
    }

    .productTitle {
        width: 100%;
    }

    .productTitleText h3 {
        font-size: 20px;
    }

    .productTitleText h2 {
        font-size: 50px;
    }

    .linkContacts {
        margin-top: 10px;
        display: flex;
        flex-direction: row;

    }



    .slider-arrows {
        margin-top: 10px;
    }

    .sliderContainer {
        height: auto;
    }
    .subheaderInfo ul{
        font-size: 22px;
    }

    .modal-dialog {
        max-width: 95%;
    }

    .offersList{
        margin-bottom: 30px;
    }

    #cookie-consent {
        display: none;
        font-size: 16px;
    }

}

@media (max-width: 1200px) {

    .reservationImages {
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 0;
        height: 300px;
    }

    .reservationImages img {
        height: 300px;
    }
}



@media (max-width: 1024px) {

    .headerInner {
        gap: 20px;
    }

    .el {
        font-size: 16px;
    }

    .headerList {
        display: none;
    }

    .rightSideInner {
        display: none;
    }

    .searchSmallScreen {
        display: block;
        width: 100%;
    }

    .formInner {
        width: 100%;
    }

    .formInner {
        border-radius: 5px;
    }

    .searchButton {
        border-radius: 5px;
    }

    .formInner input {
        background: none;
        border: none;
        padding: 15px;
        width: 90%;
        height: 100%;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        border-radius: 5px;
        outline: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .burger-menu {
        width: 70px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* бургер меню */
    #menu__toggle {
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        right: 0 !important;
    }

    .menu__btn {
        position: fixed;
        top: 35px;
        right: 25px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #3391C5;
        transition-duration: 1s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 80px;
        right: -110%;
        width: 95vw;
        height: 90vh;
        margin: 0;
        padding: 20px 0;
        list-style: none;
        background-color: #F5F5F5;
        transition-duration: .75s;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-sizing: border-box;
    }


    .bd-links .btn1[aria-expanded="true"]::after {
        transform: rotate(90deg);
    }

    .bd-links .btn1::after {
        width: 1.25em;
        margin-left: 70%;
        line-height: 0;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='11' viewBox='0 0 20 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5558 1.0025L10.0025 9.55585L1 0.553349' stroke='%231A1A18' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        transition: transform 0.35s ease;
        transform-origin: .5em 50%;
    }



    .menu__item {
        display: block;
        padding: 12px 24px;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: 1s;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    .catalogBurgerInner {
        display: flex;
        flex-direction: column;

    }

    .menu__box {
        padding: 20px;
    }

    .menu__box ul {
        list-style: none;
        padding: 0;

    }

    .menu__box .info {
        display: flex;
        flex-direction: column;
        align-items: start;
    }


    .bd-links li {
        font-family: var(--first-family);
        font-weight: 400;
        font-size: 18px;
        color: #1a1a18;
        height: 40px;
        border-bottom: 2px solid #b7b7b7;
        margin-bottom: 10px;
    }


    .bd-links li a {
        text-decoration: none;
        color: #1a1a18;
    }

    .collapseEl a {
        margin-left: 20px;
        width: 80%;
        font-family: var(--first-family);
        font-weight: 300;
        font-size: 14px;
        line-height: 129%;
        color: #1a1a18;
        text-transform: uppercase;

    }

    /* бургер меню */
    /* subheader */
    .subheaderInfo ul {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
    }

    /* catalog */
    .catalog {
        margin-top: 80px;
    }

    .catalogItems {
        gap: 20px;
    }

    .choice {
        width: 80vw;
        font-size: 16px;
    }



    .catalogItemImg img {

        height: 160px;
    }


    .catalogItem h3 {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
    }

    .catalogItem p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
    }

    .infoMain {
        display: flex;
        flex-direction: column-reverse;

        width: 100%;
        align-items: center;
    }

    .infoText {
        width: 100%;
    }

    .infoText h3 {
        font-size: 70px;
    }

    .infoText p {
        font-size: 16px;
    }

    .infoImg {
        width: 100%;
    }

    .footerInfo{
        gap: 30px;
    }
    .footerLogo {
        width: 40%;
    }

    .footerLogoText {
        width: 100%;
        font-size: 16px;
    }

    .footerData {
        width: 100%;
    }

    .footerDataEls ul{
        display: flex;
        flex-direction: column;
    }

    /* brand.html */
    .main {
        margin-top: 120px;
    }





    .brandInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .brandInfo h1 {
        font-size: 48px;
    }

    .brandInfo h2 {
        font-size: 22px;
    }

    .catalogBrand {
        margin-top: 40px;
    }



    .catalogBrandItemTitle {
        font-size: 20px;
    }

    .catalogBrandItemImg {

        height: 150px;
    }


    /* contacts.html */
 

    .applicationText h3 {
        font-size: 60px;
    }

    .applicationText p {
        font-size: 20px;
    }

    /* contacts.html */


    /* 404.html */
    .notFoundContentTitle h1 {
        font-size: 220px;
    }

    .notFoundContentTitle p {
        font-size: 25px;
    }

    .nonFoundContentImage {
        width: 100%;
    }

    /* 404.html */

    /* certificatesInternalPage.html */


    .certificatesTable .table th {
        font-size: 20px;
    }

    .certificatesTable .table td {
        font-size: 16px;
    }

    /* certificatesInternalPage.html */

    /* product.html */
    .productHead {
        width: 100%;
    }

    .productTitle {
        height: auto;
    }

    .productCarousel {
        height: auto;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .sliderNavEl {
        background: #fff;
        width: 200px;
        background-size: 150px 150px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        height: 200px;
        /* Задаем фиксированную ширину для миниатюр */
        margin: 0 10px;
    }


    .sliderContainer {
        height: 700px;
    }

    .slider-nav img {
        height: 120px;
    }



    .slider-nav {
        height: 200px;
    }

    .slider-arrows {
        margin-top: 60px;
    }

    .quantity-input {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* product.html */

    /* work.html */
    .workInfo h2 {
        font-size: 50px;
    }

    .workInfo p {
        font-size: 18px;
    }

    .bullingSteps {
        gap: 20px;
    }

    .reservation {
        flex-direction: column-reverse;
    }

    .reservationImages {
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 0;
        height: 350px;
    }

    .reservationText h2 {
        text-align: center;
    }

    .el1 {
        width: 280px;
        height: 280px;
    }

    .el1 img {
        width: 280px;
        height: 280px;
    }

    .el2 {
        width: 280px;
        height: 280px;
    }

    .el2 img {
        width: 280px;
        height: 280px;
    }

    .el3 {
        width: 280px;
        height: 280px;
    }

    .el3 img {
        width: 280px;
        height: 280px;
    }

    .truck {
        height: 350px;
    }

    .orderStepsEl p {
        font-size: 18px;
    }

    .bullingStepsEl p {
        font-size: 18px;
    }

    .deliveryStepsEl {
        font-size: 18px;
    }

    .refundEl p {
        font-size: 18px;
    }




    .h2 {
        font-family: var(--font3);
        font-weight: 700;
        font-size: 60px;
        line-height: 133%;
        color: #1a1a18;
        margin-top: 140px;
        margin-bottom: 40px;
        text-align: center;
    }



    .reservationImagesEl {
        border-radius: 10px;
        background-size: cover;
        height: 200px;
    }

    .reservationStepsEl {
        background: #fff;
        border-radius: 10px;
        height: auto;
        padding: 20px;
        font-family: var(--second-family);
        font-weight: 400;
        color: #1a1a18;
        background-repeat: no-repeat;
        background-position: 95% -10px;

    }


    .bullingStepsEl {
        padding: 20px;
    }

    .deliveryStepsEl {
        padding: 20px;
    }

    .refundEl {
        padding: 20px;
    }

    /* work.html */

    .addresses {
        gap: 15px;
        height: 900px;
        flex-wrap: wrap;
    }

    .ContactAddress {
        width: 49%;
        padding: 20px;
    }


    .mainAddress {
        width: 100%;
    }

    .catalogItems a {
        text-decoration: none;
        display: block;
        width: calc(100% - 67% - 20px);
        height: auto;
    }

    .emptyEl {
        width: calc(100% - 67% - 20px);
    }

    .catalogItem {
        display: flex;
        flex-direction: column;
        justify-content: start;
        border-radius: 10px;
        width: 100%;
        background: #fff;
        color: #1a1a18;
        padding: 20px;
        height: 100%;
        border-bottom: 10px solid #fff;
    }

    .searchResultEl{
        padding: 10px;
        margin-top: 20px;
    }
    .searchResultEl p{
        margin-bottom: 0;
    }

    .searchResultArticle{
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .searchResultName{
        font-size: 20px;
    }

    .brandBannerBg{
        display: none;
    }

    .choice ul{
        width: 80vw;
    }

    .footerInner{
        margin-top: 40px;
    }

    .productDescription{
        font-size: 16px;
        font-weight: 400;
    }
  

    .footerLogoCustom{
        font-size: 16px;
    }

    .footerInfo{
        flex-direction: column;
    }

    .footerLogo{
        width: 100%;
    }
  
    .mainFormContainer {
        flex-direction: column-reverse;
        gap: 40px;
    }

    #offers-table td:first-child {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        color: #1a1a18;
        width: 80%;
    
    }

 
}

@media (max-width: 900px) {
    .subheader {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .product_bg {
        background-position: bottom bottom;
        width: 100vw;
        height: 30%;
        position: absolute;
        top: 70vh;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-size: cover;
    }

    .subheaderInfo {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
        text-align: center;
        position: relative;
    }

    .subheaderInfo h3 {
        text-align: center;
    }



    .subheaderImage {
        position: relative;
        bottom: 10px;
        display: flex;
        justify-content: center;
    }

    /* .subheader:after {
        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        height: 30%;
        bottom: 0px;
        background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #f5f5f5 100%);
        pointer-events: none;
    } */

    .subheaderImage img {
        width: auto;
        height: 40vh;
    }

    .subheaderInfo ul {
        margin-bottom: 0;
    }

    .slider div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .subheaderSlider {
        padding-top: 80px;
        height: auto;
    }

    /* catalog */
    .catalogItems {
        gap: 10px;
    }



    /* brand.html */






    .brandInfo {
        display: flex;
        flex-direction: column;
       
    }

    .brandInfo h1 {
        font-size: 40px;
    }

    .brandInfo h2 {
        font-size: 16px;
    }

 

    .catalogBrandItemTitle {
        font-size: 20px;
    }

    .catalogBrandItemImg {

        height: 140px;
    }

    .infoText h3 {
        font-size: 58px;
    }

    /* contacts.html */
  

    .addresses {
        gap: 20px;
        height: auto;
        flex-wrap: wrap;
    }

    .ContactAddress {
        width: 100%;
        padding: 20px;
        height: fit-content;
    }


    .mainAddress {
        width: 100%;
    }

    .application {
        height: 700px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .applicationText {
        width: 80%;
        text-align: center;
        margin-bottom: 50px;
    }

    .applicationForm {
        width: 80%;
    }

    /* contacts.html */

    /* 404.html */
    .notFoundContent {
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .notFoundContentTitle h1 {
        font-size: 220px;
    }

    .notFoundContentTitle p {
        font-size: 25px;
    }

    .nonFoundContentImage {
        margin-top: 40px;
        height: 30vh;
        width: 100%;

    }

    /* 404.html */

    /* certificatesInternalPage.html */


    .certificatesTable .table th {
        font-size: 18px;
    }

    .certificatesTable .table td {
        font-size: 14px;
    }




    /* certificatesInternalPage.html */

    /* product.html */

    .nav .nav-tabs {
        flex-wrap: nowrap;
    }

    .countItems {
        padding: 5px;
    }

    .orderButton {
        font-size: 18px;
    }

    .sliderNavEl {
        background: #fff;
        height: 200px;
        background-size: 150px 150px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;

        /* Задаем фиксированную ширину для миниатюр */
        margin: 0 10px;
    }

    .slider-nav img {
        height: 200px;
    }


    .slider-arrows {
        margin-top: 10px;
    }

    .sliderContainer {
        height: auto;
    }

    .physicalForm {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }

    .listOrders {
        width: 100%;
    }

    .formEl {
        width: 100%;
    }


    /* product.html */
    .productHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
    }

    .productCarousel {
        width: 100%;
    }

    .productTitle {
        width: 100%;
        height: 1000px;
    }

    .productTitleText h3 {
        font-size: 20px;
    }

    .productTitleText h2 {
        font-size: 45px;
    }

    .linkContacts {
        margin-top: 10px;
        display: flex;
        flex-direction: row;

    }



    .nav .nav-tabs {
        flex-wrap: nowrap;
    }

    .countItems {
        padding: 5px;
    }


    .orderButton {
        font-size: 18px;
    }

    .sliderNavEl {
        background: #fff;
        width: 100px;
        background-size: 150px 150px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        height: 100px;
        /* Задаем фиксированную ширину для миниатюр */
        margin: 0 10px;
    }

    .slider-nav img {
        height: 50px;
    }



    .slider-arrows {
        margin-top: 15px;
    }

    .sliderContainer {
        height: auto;
    }

    .physicalForm {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }



    .listOrders {
        width: 100%;
    }

    .formEl {
        width: 100%;
    }




    /* product.html */

    /* work.html */

    .deliveryStepsEl:nth-child(n) {
        width: 100%;
        height: auto;
    }


    .refundEl {
        height: auto;
    }

    .truck {
        height: 280px;
    }

    .el1 {
        width: 300px;
        height: 300px;
    }

    .el1 img {
        width: 300px;
        height: 300px;
    }

    .el2 {
        width: 300px;
        height: 300px;
    }

    .el2 img {
        width: 300px;
        height: 300px;
    }


    .el3 {
        display: none;
    }

    /* work.html */





}

@media (max-width: 800px) {


    .choice {
        width: 100%;
        font-size: 14px;
    }

    .choice ul{
        width: 100%;
    }



    .infoText h3 {
        font-size: 56px;
    }

    .slider-container {
        height: 100%;
    }



    .subheaderSlider {
        /* padding-top: 0px; */
    }


    /* brand.html */








    .brandInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .brandInfo h1 {
        font-size: 40px;
    }

    .brandInfo h2 {
        font-size: 16px;
    }

    .catalogBrandItems {
        display: flex;
        flex-direction: column;
    }

    .catalogBrandItem {
        
        width: 100%;

    }

    .catalogBrandItemTitle {
        font-size: 20px;
    }

    .catalogBrandItemImg {
        height: 150px;
        width: 150px;
    }

    .catalogBrandItemImg img {
        width: 150px;
        height: 100%;
    }


    /* contacts.html */
    .contactsMap {
       height: 40vh;
    }

    /* contacts.html */

    /* certificatesInternalPage.html */


    .certificatesTable .table th {
        font-size: 16px;
        text-align: left;
        vertical-align: middle;
    }

    .certificatesTable .table td {
        font-size: 12px;
    }




    /* certificatesInternalPage.html */

    /* product.html */

    .productHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
    }

    .productCarousel {
        width: 100%;
    }

    .productTitle {
        width: 100%;
        height: 1000px;
    }

    .productTitleText h3 {
        font-size: 20px;
    }

    .productTitleText h2 {
        font-size: 37px;
    }

    .productTitleText {
        font-size: 14px;
    }

    .linkContacts {
        margin-top: 10px;
        display: flex;
        flex-direction: row;

    }

    .linkText{
        font-size: 14px;
        margin-bottom: 10px;
    }

    .linkContacts a{
        font-size: 16px;
    }

    .nav .nav-tabs {
        flex-wrap: nowrap;
    }

    .countItems {
        padding: 5px;
    }



    .orderButton {
        font-size: 18px;
    }

    .sliderNavEl {
        background: #fff;
        width: 100px;
        background-size: 150px 150px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        height: 100px;
        /* Задаем фиксированную ширину для миниатюр */
        margin: 0 10px;
    }

    .slider-nav img {
        height: 50px;
    }



    .slider-arrows {
        margin-top: 10px;
    }

    .sliderContainer {
        height: auto;
    }

    .physicalForm {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }




    .listOrders {
        width: 100%;
    }

    .formEl {
        width: 100%;
        
    }



    /* product.html */

    /* work.html */
    .workInfo {
        height: auto;
    }

    .workInfo p {
        width: 100%;
    }

    .el3 {
        display: none;
    }

    .el3 img {
        display: none;
    }

    .reservation {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .reservationStepsEl:nth-child(1) {
        width: 100%;
    }

    .reservationStepsEl:nth-child(2) {
        width: 100%;
    }

    .reservationStepsEl:nth-child(3) {
        width: calc(100% - 50% - 20px);
    }

    .reservationStepsEl:nth-child(4) {
        width: calc(100% - 50% - 20px);
    }

    .reservationStepsEl:nth-child(5) {
        width: 100%;
    }



    .reservationImagesEl:nth-child(1) {
        width: calc(100% - 50% - 10px);

    }

    .reservationImagesEl:nth-child(2) {
        width: calc(100% - 50% - 10px);

    }

    .reservationImagesEl:nth-child(3) {
        display: none;

    }

    .truck {
        height: 300px;
    }

    .h2 {
        margin-top: 100px;
        font-size: 50px;
        margin-bottom: 20px;
    }


    .orderSteps {
        flex-direction: column;
        width: 100%;
    }

    .orderStepsEl:nth-child(n) {
        width: 100%;
        height: auto;
    }

    /* work.html */

    .orderSteps {
        gap: 20px;
    }

    .orderSteps p {
        margin-bottom: 0;
    }

    .orderStepsElNumber {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .orderStepsEl p {
        font-size: 16px;
    }

    .bullingStepsEl p {
        font-size: 16px;
        margin-bottom: 0;
    }

    .reservationStepsEl {
        font-size: 16px;
    }

    .reservationStepsEl p {
        margin-bottom: 0;
    }

    .orderStepsElNumber img {
        width: auto;
        height: 15px;
    }

    .deliveryStepsEl {
        font-size: 16px;
    }

    .deliveryStepsEl p {
        margin-bottom: 0;
    }

    .refundEl p {
        font-size: 16px;
        margin-bottom: 0;
    }


    .refundEl h3 {
        font-size: 20px;
        color: #1a1a18;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .catalogItems a {
        margin-top: 10px;
        width: calc(100% - 50% - 10px);
        height: auto;
    }


    .brandInfo{
        width: 100%;
    }

    .inputCountBtn1, .inputCountBtn2{
        display: none;
    }
    .characteristics_table {
        border-collapse: collapse;
        width: 100%;
    }
    
    .characteristics_table th,
    .characteristics_table td {
        border: 2px solid black;
    }
    
    #offers-table td:first-child {
        font-family: var(--font-family);
        font-weight: 400;
        color: #1a1a18;
        width: 75%;
    
    }
    .subheaderInfo{
        margin-top: 200px;
    }
 
}


@media screen and (max-width: 700px) {
    .subheaderInfo h1 {
        font-size: 50px;
    }
}

@media (max-width: 640px) {
    .el {
        font-size: 16px;
    }

    .headerList {
        display: none;
    }

    /* subheader */
    .subheaderImage img {
        height: 50vh;
    }

    .subheader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;


    }

    .product_bg {
        width: 100vw;
        height: 30%;
        position: absolute;
        top: 70vh;
        left: 0;
        bottom: 0;
        z-index: -1;
        background-size: cover;
    }

    .subheaderInfo {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
        text-align: center;
        position: relative;
    }

    .subheaderInfo h3 {
        text-align: center;
    }

    /* catalog */





    .catalogItemImg img {
        width: 180px;
        height: 120px;
    }

    .emptyEl {
        width: 200px;
    }


    .catalogBrand {
        margin-top: 20px;
    }

    .infoText h3 {
        font-size: 48px;
    }




    .subheaderImage img {
        width: auto;
        height: 40vh;
    }

    /* footer */
    .footerLogoText {
        font-size: 14px;
    }

    .footerDataEls h4 {
        font-size: 18px;
    }

    .footerDataEls li {
        font-size: 14px;
    }

    /* footer */

    /* contacts.html */





    .application {
        height: 700px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 40px;
    }

    .applicationText h3 {
        font-size: 60px;
    }

    .applicationText {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .applicationForm {
        width: 100%;
    }

    .applicationForm p {
        font-size: 16px;
    }

    .h2 {
        margin-top: 100px;
        margin-bottom: 20px;
        font-family: var(--font3);
        font-weight: 700;
        font-size: 45px;
        line-height: 120%;
        text-align: center;
        color: #1a1a18;
    }

    /* 404.html */
    .notFoundContentTitle h1 {
        font-size: 150px;
    }

    .notFoundContentTitle p {
        font-size: 20px;
    }

    /* 404.html */


    /* certificatesInternalPage.html */


    .certificatesTable .table th {
        padding: 4px;
        font-size: 12px;
        text-align: left;
        vertical-align: middle;
    }

    .certificatesTable .table td {
        font-size: 10px;
        padding: 4px;
    }




    /* certificatesInternalPage.html */

    /* product.html */

    .physicalForm {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }



    .listOrders {
        width: 100%;
    }

    .formEl {
        width: 100%;
      
    }

    .productHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        width: 100%;
    }

    .productCarousel {
        width: 100%;
    }

    .productTitle {
        width: 100%;
        height: 1000px;
    }

    .productTitleText h3 {
        font-size: 20px;
    }

    .productTitleText h2 {
        font-size: 37px;
    }

    .linkContacts {
        margin-top: 10px;
        display: flex;
        flex-direction: row;

    }



    .nav .nav-tabs {
        flex-wrap: nowrap;
    }

    .countItems {
        padding: 5px;
    }



    .orderButton {
        font-size: 18px;
    }

    .sliderNavEl {
        background: #fff;
        width: 100px;
        background-size: 150px 150px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        height: 100px;
        /* Задаем фиксированную ширину для миниатюр */
        margin: 0 10px;
    }

    .slider-nav img {
        height: 50px;
    }



    .slider-arrows {
        margin-top: 10px;
    }

    .sliderContainer {
        height: auto;
    }


    .quantity-input input {
        width: 100%;
    }

    /* product.html */

    /* work.html */

    .reservationImages {
        justify-content: center;
    }

    .el1 {
        height: 300px;
        width: auto;
    }

    .el1 img {
        height: 300px;
        width: auto;
    }

    .el2 {
        display: none;
    }

    .el2 img {
        display: none;
    }

    /* work.html */

    .truck {
        height: 250px;
    }

    .choice button {
        font-size: 18px;
    }

    .linkContacts {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .linkContacts {
        flex-direction: column;
        align-items: start;
    }

    .linkContacts a{
        width: 100%;
    }

    .subheaderInfo h1 {

    }

    .subheaderSlider {
        /* height: 535px; */
    }
    .slick-track {
        height: 100%;
    }

}

@media(width < 550px) {

     .subheaderSlider {
        height: 535px;
    } 

    .subheaderInfo h1 {
        font-size: 33px;
        line-height: 40px;
        margin-bottom: 0;
    }

    .slider .subheaderInfo {
        justify-content: flex-start;
    }

    .brandBanner {
        flex-direction: column-reverse;
        padding: 20px;
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .brandLogo {
        width: 100%;
        height: auto;
    }
    .brandInfo{
        display: none;
    }
    .main {
        margin-top: 80px;
    }

    .infoText h3 {
        font-size: 42px;
    }

    .subheaderSlider {
        /* padding-top: 0px; */
    }

    .emptyEl {
        display: none;
    }

    .slider-arrows {
        display: none;
    }

    .slider-arrows {
        display: none;
    }

    /* certificatesInternalPage.html */

    .certificatesTable{
        margin-top: 20px;
    }

    .certificatesTable .table th {
        padding: 2px;
        font-size: 12px;
        text-align: left;
        vertical-align: middle;
    }

    .certificatesTable .table td {
        font-size: 10px;
        padding: 2px;
    }

  
    /* certificatesInternalPage.html */

    .btn {
        font-size: 14px;
    }

    /* work.html */
    .el1 {
        height: 250px;
        width: auto;
    }

    .el1 img {
        height: 250px;
        width: auto;
    }

    .bullingStepsEl {
        font-size: 16px;
        height: auto;
    }

    .deliveryStepsEl {
        font-size: 16px;
    }

    .refundEl p {
        font-size: 16px;
    }


    .reservation {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .reservationStepsEl {
        background: #fff;
        border-radius: 10px;
        height: auto;
        padding: 20px;
        font-family: var(--second-family);
        font-weight: 400;
        color: #1a1a18;
        background-repeat: no-repeat;
        background-position: 95% -10px;

    }


    .reservationStepsEl:nth-child(3) {
        width: 100%;
    }

    .reservationStepsEl:nth-child(4) {
        width: 100%;
    }

    .reservationImagesNew {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .reservationImagesEl:nth-child(1) {
        width: 100%;
        height: 300px;

    }

    .reservationImagesEl:nth-child(2) {
        width: 100%;
        height: 300px;
    }


    /* work.html */

    .breadCrumb {
        font-size: 14px;
    }

    .truck {
        height: 300px;
    }

    .h2 {
        margin-top: 60px;
        font-size: 37px;
        margin-bottom: 20px;
    }

    h2{
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .deliverySteps {
        gap: 20px;
    }

    .reservationImagesNew {
        margin-top: 20px;
        gap: 20px;
    }

    .refund {
        gap: 20px;
    }

    .truck {
        margin-top: 20px;
    }

    .addressInfo h3 {
        font-size: 18px;
    }

    .addressInfoElText {
        font-size: 16px;
    }

    .addressInfoElImg img {
        height: 18px;
        width: 18px;
    }

    .addresses {
        gap: 10px;
    }

    .addressImg img {
        height: 60px;
        width: 60px;
    }


    .formButton {
        right: 20px;
        bottom: 20px;
    }

    .footerData{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .footerData h4{
        margin-bottom: 10px;
        margin-top: 30px;
    }

    .footerDataEls{
        width: 100%;
    }
    .footerDataEls:nth-child(1){
        flex: 2;
        order: 1;
    }

    .footerDataEls:nth-child(2){
        flex: 2;
        order: 3;
        display: flex;
        justify-content: flex-end;
        width: 50%;
        display: none;
    }

    .less550{
        display: block !important;
        width: 100%;
    }

    .more550{
        display: none !important;
    }
 
    .footerDataEls:nth-child(3){
        flex: 2;
        order: 2;
        
    }

    .footerDataEls ul{
        justify-content: end;
    }

    .footerDataEls ul li{
        
        margin-bottom: 5px;
    }

    .breadCrumbs{
        margin-top: 100px;
    }

    .brandBanner{
        margin-top: 20px;
    }

   

    .productHead{
        margin-top: 20px;
        gap: 20px;
    }

    .infoMain{
        margin-top: 70px;
    }

    .addresses{
        margin-top: 20px;
    }

    .footerData{
        gap: 20px;
    }

    .productTitleText p{
        margin-top: 10px;
    }

    .addressImg{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .addressImg h3{
        font-size: 18px;
        margin-bottom: 0;
    }

    .footerLogoCustom{
        font-size: 16px;
    }

    .subheaderTitle h3{
        display: none;
    }

    .subheaderInfo ul{
        display: none;
    }

    .infoMain{
        padding: 20px;
    }

        
    .workInfo h2{
        font-size: 23px;
    }

    .privacyBody{
        padding: 20px;
    }

    .brandLogo img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    #offers-table td:first-child {
        font-family: var(--font-family);
        font-weight: 400;
        color: #1a1a18;
        width: 70%;
    
    }

    .mainFormContainer{
        gap: 20px;
    }

    #cookie-consent{
        position: fixed;
        height: auto;
        flex-direction: column;
        width: 95vw;
        z-index: 9999;
        left: 2.5vw;
        bottom: 5vh;
        background-color: #E6F0F8;
        box-shadow: 0 0 40px 3px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 15px;
    }

    .cookieElText{
        width: 100%;
        text-align: left;
    }

    .cookieElButton{
        width: 100%;
    }

    #cookie-consent-button{
        width: 100%;
        margin-top: 15px;
        height: 40px;
        padding: 0;
    }

   

    .oneLine{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .oneLine .form-floating{
        width: 100% !important;
    }

    .subheader {
        height: 100%;
    }


}

@media (width < 480px) {



  

    .subheader {

        width: 100%;
    }



    .subheaderInfo {
        height: 50vh;
        justify-content: space-evenly;
        align-items: center;
    }

    .subheaderInfo ul {
        margin-top: 10px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 112%;
        text-align: center;
        color: #1a1a18;
    }

    .subheaderInfo h3 {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 18px;
    }

    .buttonInfo button {
        margin-top: 30px;
    }

    .subheaderInfo h1 {
        font-family: var(--third-family);
        font-weight: 700;
        font-size: 35px;
        line-height: 122%;
    }

    .subheaderInfo ul {
        list-style: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 112%;
        padding-left: 0;
        width: 100%;
        align-items: center;
    }

    .buttonInfo button {
        width: 235px;
        height: 55px;
    }

    .subheaderImage {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .subheaderImage img {

        height: 45vh;
        margin-bottom: 2px;
    }

    .catalog h2 {
        font-size: 37px;
    }

    .choice {
        width: 95vw;
        height: 50px;
        font-size: 16px;
        text-align: center;
    }

  

    .choice button {
        height: 65px;
        font-size: 18px;
        width: 100%;
    }

    .catalogItems {
        margin-top: 20px;
    }






    .infoText h3 {
        font-family: var(--third-family);
        font-weight: 700;
        font-size: 33px;
        line-height: 121%;
        margin-top: 0;
    }

    .infoText p {
        font-weight: 400;
        font-size: 16px;
    }

    .infoImg {
        width: 100%;
    }

    .infoImg img {
        width: 100%;
    }

    .place h2 {
        font-family: var(--third-family);
        font-weight: 700;
        font-size: 37px;
        margin-top: 60px;

    }

    .place p {
        width: 100%;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: #1a1a18;
    }

    .map {
        height: 300px;
        margin-top: 20px;
    }

    .footerInner {
        padding: 20px;
        margin-top: 20px;
    }

    .footerLogo {
        width: 100%;
    }



    .footerData {
        display: flex;
        width: 100%;
    }

    .footerDataEls ul {
        list-style: none;
    }

    .formButton {
        height: 50px;
        width: 50px;
    }

    .formButtonChoice {
        height: 50px;
        width: 50px;
    }



    .formButtonOptions {
        width: 60px;
        height: 180px;
    }

    .formButtonEmail {
        width: 50px;
        height: 50px;
    }

    .formButtonCall {
        width: 50px;
        height: 50px;
    }

    .formButtonClose {
        width: 50px;
        height: 50px;
    }



    .modal-header {
        padding: 5px;
    }

    .modal-title {
        font-family: var(--third-family);
        font-weight: 700;
        font-size: 25px;
        line-height: 160%;
    }

    .btn-close {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    /* brand.html */
    .catalogBrand {
        margin-top: 20px;
    }

    .catalogBrandItems {
        display: flex;
        flex-direction: column;
    }

    .catalogBrandItem {
        /*height: 150px;*/
        height: 100%;
        width: 100%;

    }

    .catalogBrandItemTitle {
        font-size: 14px;
    }

    .catalogBrandItemImg {
        height: 110px;
        width: 110px;
    }

    .catalogBrandItemImg img {
        width: 110px;
        height: 100%;
    }

    /* product.html */

    .physicalForm {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }



    .listOrders {
        width: 100%;
    }

    .formEl {
        width: 100%;
       
    }

    .productHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        width: 100%;
    }

    .productCarousel {
        width: 100%;
    }

    .productTitle {
        width: 100%;
        height: 1000px;
    }

    .productTitleText h3 {
        font-size: 20px;
    }

    .productTitleText h2 {
        font-size: 26px;
    }

    .linkContacts {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }



    .nav .nav-tabs {
        flex-wrap: nowrap;
    }

    .countItems {
        padding: 5px;
    }


    .orderButton {
        font-size: 16px;
    }

    .sliderNavEl {
        background: #fff;
        width: 100px;
        background-size: 150px 150px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        height: 100px;
        /* Задаем фиксированную ширину для миниатюр */
        margin: 0 10px;
    }

    .slider-nav img {
        height: 50px;
    }



    .slider-arrows {
        margin-top: 10px;
    }

    .sliderContainer {
        height: auto;
    }

    .btn {
        font-size: 12px;
    }

    /* product.html */


    /* work.html */


    .workInfo {
        padding: 20px;
        height: auto;
    }

    .workImage {
        width: 40px;
        height: 40px;
    }

    .workImage img {
        width: 40px;
        height: 40px;
    }

    .workTitle {
        font-weight: 400;
        font-size: 15px;
        width: 100%;
    }

  

    .workInfo p {
        font-size: 16px;
        width: 100%
    }



    h2 {
        margin-top: 100px;
        font-size: 37px;
    }

    .orderStepsEl {
        padding: 20px;
    }

    .orderStepsElNumber {
        height: 50px;
        width: 50px;
        font-size: 20px;
    }

    .bullingSteps {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .bullingStepsEl {
        width: 100%;
    }

    .reservationImages {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .el2 {
        display: none;
    }

    .el3 {
        display: none;
    }

    .refund {
        flex-direction: column;
    }

    .refundEl {
        width: 100%;
        height: auto;
    }

    .el1 {
        height: 200px;
        width: auto;
    }

    .el1 img {
        height: 200px;
        width: auto;
    }

    .truck {
        height: 150px;
    }


    .reservationImagesEl:nth-child(1) {
        width: 100%;
        height: 200px;

    }

    .reservationImagesEl:nth-child(2) {
        width: 100%;
        height: 200px;
    }

    /* work.html */

    .catalogItems a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: auto;
    }

    .catalogItemImg {
        height: 200px;
    }

    .catalogItemImg img {
        height: 200px;
        width: 100%;
    }

    .subheaderInfo{
        width: 100%;
     }
    
     .subheaderTitle{
        width: 100%;
        padding: 0;
     }

    .subheaderTitle h1{
        margin-left: 0;
        margin-bottom: 0;
     }

    .subheaderTitle h3{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 112%;
        color: #1a1a18;
    }

    .subheaderTitle li{
        margin-bottom: 8px;
    }

    .buttonInfo button{
        margin-top: 20px;
    }

    .brandInfo h1 {
        font-size: 30px;
    }

    .infoMain{
        gap: 20px;
        
    }

    .slick-dotted.slick-slider{
        margin-bottom: 0;
    }

    #offers-table td:first-child {
        font-family: var(--font-family);
        font-weight: 400;
        color: #1a1a18;
        width: 60%;
    }


 


}

@media (width < 380px) {
    #offers-table td:first-child {
        font-family: var(--font-family);
        font-weight: 400;
        color: #1a1a18;
        width: 50%;
    
    }
}


@media (width < 320px) {
    .el {
        font-size: 16px;
    }
}


@media (height > 1080px) {
    header{
        height: auto;
    }

    .catalog {
        /* margin-top: 20px; */
    }
}