.slick-track {
    margin-top: 0;
}

.slick-current{
    border: none;
}

.infoImg .slider{
    height: auto;
}

.infoImg .sliderImg {
    height: 640px;
    width: 100%;
}

.header .slick-list .draggable{
    width: 100vw;
}

.subheaderInfo {
    margin-top: 40px;
}

.tab-content{
    padding: 0;
}

.subheaderImage .buttonInfo{
    box-shadow: none;
}



@media (min-width:  1920px){
    .slider .subheaderInfo {
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        text-align: left;
        width: 65%;
    }
    .subheader{
        height: auto;
    }

    .subheaderImage img{
        min-width: auto;
        max-width: 700px;
        max-height: 80%;
    }

    .infoImg {
        width: 960px;
        height: 100%;
    }
    
    /* .catalogItemImg img{
        height: 300px;
    } */

    .productCarousel{
        width: 30vw;
    }
}

@media screen and (max-width: 1440px) {
    .slider .subheaderInfo {
        margin-top: 0;
    }
    .subheaderInfo ul {
        margin-bottom: 0;
    }
    .subheaderImage {
        margin-top: 0;
        height: auto;
    }
    .subheaderImage img {
        margin-top: 0;
        height: 100%;
    }
}

@media (max-width: 900px){


    .subheaderImage{
        margin-top: 0px;
        height: 500px;
    }
    
    .subheaderInfo{
        margin-top: 0px;
        height: 400px;
    }
    
    .subheader{
        height: 850px;
    }
 


}

@media (max-width: 800px){

    .subheader{
        height: 100%;
       
    }
    .subheaderInfo{
        margin-top: 80px;
    }

    .subheaderImage img{
        margin-top: 0;
        margin-bottom: 20px;
    }

    .subheader{
        height: 100%;
    }
 
}



@media (min-width: 900px ) and (max-width: 2500px){
    .slider .subheaderInfo {
        padding: 60px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        text-align: left;
        /* width: 50vw; */
    
    }

    .subheader{
        height: auto;
    }
}

@media (max-width: 1440px) {
    .slider .subheaderInfo {
        padding: 20px;
    }
}

@media (width < 550px){
    .buttonInfo{
        height: 60px;
    }

    .subheader{
        padding: 0px;
    }

    .subheaderInfo{
        padding: 0px;
        margin-top: 100px;
    }

  

    header{
        height: auto;
    }

    .product_bg{
        top: 420px;
        height: 350px;
    }

    /* .subheaderImage{
        height: 50vh;
    }  */


}


@media (width < 550px){

    .slider div{
        justify-content: center;
    }   

    .subheaderImage img{
        margin-top: 0;
    }

    .catalog{
        margin-top: 40px;
    }

    .subheader{
        height: 100%;
    }
    
    .slider .buttonInfo {
        justify-content: center;
    }
 

    .header .slick-list .draggable{
        width: 100%;
    }
    .subheaderInfo{
        height: 40px;
        margin-top: 0;
    }

    .slider .subheaderImage{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: flex-start;
        margin-top: 13px;
        gap: 24px;
    }
    .subheaderImage img {
        margin-bottom: 0;
        min-height: 200px;
    }

    .subheaderInfo {

    }

    .subheaderImage img{
        width: 100%;
        /*height: auto;
        margin-bottom:10px;*/
        /* margin-bottom:auto; */
        object-fit: contain;
        /*object-fit: cover;*/
    }

    .subheaderImage a{
        text-decoration: none;
    }

    .slick-initialized .slick-slide{
        justify-content: space-between;
        padding: 20px 10px;
    }

    .subheaderImage{
        margin-top: 0;
    }


    .infoImg .slider{
        height: 340px;
    }
    
    .infoImg .sliderImg {
        height: 320px;
        width: 100%;
    }

    .buttonInfo{
        height: 55px;
    }

    .subheader{
        padding: 0px;
    }

    .subheaderInfo{
        padding: 0px;
        margin-top: 120px;
    }



    .product_bg{
        top: 35vh;
        height: 320px;
    }


    .buttonInfo{
        width: 100%;
    }
}
@media (width < 400px) and (height < 700px){
    header{
        height: 100vh;
    }
    .subheader{
        height: 100vh;
    }
    .subheaderInfo{
        margin-top: 100px;
    }
 
}

