.carouselWrapper {
    width: 100%;
    /* height: 80%; */
    border-radius: 15px;
    box-shadow: 0 0 40px 3px rgba(0, 0, 0, 0.15);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carouselExampleIndicators {
    width: 100%;
    align-items: center;

}

.tumbnailsWrapper {
   margin-top: 40px;
    min-height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: center;

}

.carousel-indicators {
    position: static;
    display: flex;
    justify-content: space-between;

}

.carousel-indicators li {
    width: 200px;
    height: 200px;
    background-color: #fff;
}

.carousel-indicators li img {
    width: 150px;
    height: 150px;

}

.carousel-item img {
    height: 480px;
    margin: auto;
    object-fit: cover;
}

.thumbnailContainer {
    width: 200px;
}


/* Make sure all thumbnails are fully opaque by default */
.tumbnails-list .thumbnailContainer {
    opacity: 1;
}

/* Make sure inactive thumbnails are fully opaque */
.tumbnails-list .thumbnailContainer:not(.active) {
    opacity: 1;
}

/* Style for the active thumbnail */



.tumbnails-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tumbnails-list .thumbnailContainer {
    opacity: 1;
    border: 2px solid transparent;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 15px;

}

.tumbnails-list .thumbnailContainer img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* Make sure inactive thumbnails are fully opaque */
.tumbnails-list .thumbnailContainer:not(.active) {
    opacity: 1;
}

/* Style for the active thumbnail */
.tumbnails-list .thumbnailContainer.active {
    border-color: #3391C5;
}

.carousel-indicators {
    margin: 0 auto;
}

.thumbnailContainer {
    width: 200px;
    height: 200px;
    background-color: #fff;
}

.tumbnailsWrapper {
    /* Ensure the wrapper takes full available width. */
    width: 100%;
}

.tumbnails-list {
    display: flex; /* Enable flexbox */
    flex-wrap: nowrap; /* Prevent items to wrap to new lines */
    overflow-x: auto; /* Enable horizontal scrolling */
     justify-content: flex-start;
}

.tumbnails-list .thumbnailContainer {
    opacity: 1;
    position: relative;
    overflow: hidden;
    width: 200px; /* Set the width of each thumbnail container */
    height: 200px; /* Set the height of each thumbnail container */
    /* Add some margin below thumbnails, change as needed */
    flex-shrink: 0; /* Prevent shrinking when wrapping */
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
}


.tumbnails-list .thumbnailContainer img {
  width: auto;
  height: auto;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1260px){
    .carouselWrapper{
        height: 600px;
    }
}

@media (width < 550px){
    .carouselWrapper{
        height: 400px;
    }

    .carousel-item img {
        height: 280px;
        width: auto;
        margin: auto;
    }

    .tumbnails-list .thumbnailContainer {
        opacity: 1;
        position: relative;
        overflow: hidden;
        width: 100px; /* Set the width of each thumbnail container */
        height: 100px; /* Set the height of each thumbnail container */
        /* Add some margin below thumbnails, change as needed */
        flex-shrink: 0; /* Prevent shrinking when wrapping */
    }

    .tumbnails-list .thumbnailContainer img {
        width: 90px;
        height: 90px;
        display: block;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .tumbnailsWrapper {
        margin-top: 20px;
     
     }

}