{% extends 'core/base1.html' %}
{% load cache %}
{% load static %}
{% block title %}
  <title>{{ brand.name }}</title>
{% endblock %}
{% block content %}
  <header style="height: 0px;">
    <!-- летающая шапка -->
    {% include 'core/components/flyingHeader.html' %}
    <!-- летающая шапка -->
  </header>

  <main class="main">
    <div class="container1">
    {% cache 86400 'brand_breadcrumbs' brand.slug %}
      <div class="breadCrumbs">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">ГЛАВНАЯ</a>
          </li>
          <li class="breadcrumb-item breadcrumb-item-active" aria-current="page">{{ brand.name.upper }}</li>
        </ol>
      </div>
      {% endcache %}
    {% cache 86400 'brand_banner' brand.slug %}
     {% include 'core/components/banner.html' %}
    {% endcache %}

      <div class="catalogBrand">
        <!-- Выбор по производителям -->
        <div class="catalogBrandItems">
            {% cache 3600 'brand_categories' brand.slug %}
          {% for category in categories %}
            <div class="catalogBrandItem">
                <a href="{% url 'category' category_slug=category.slug %}">
                  <div class="catalogBrandItemImg">
                    {% if category.logo %}
                      <img src="{{ category.logo.url }}" alt="Логотип категории" />
                    {% else %}
                    <img src="{% static "/images/noImage.jpg" %}" alt="Нет логотипа" />
                    {% endif %}
                  </div>
                  <div class="catalogBrandItemTitle">{{ category.name }}</div>
                </a>
              </div>
          {% endfor %}
          {% for product in products %}
            <div class="catalogBrandItem">
                <a href="{% url 'offer' brand_slug=brand.slug product_slug=product.slug %}">
                  <div class="catalogBrandItemImg">
                    {% if product.logo %}
                      <img src="{{ product.logo.url }}" alt="Логотип категории" />
                    {% else %}
                    <img src="{% static "/images/noImage.jpg" %}" alt="Нет логотипа" />
                    {% endif %}
                  </div>
                  <div class="catalogBrandItemTitle">{{ product.name }}</div>
                </a>
              </div>
          {% endfor %}
          {% endcache %}
        </div>
      </div>
    </div>
    {% include 'core/components/formsContainer.html' %}
  </main>
{% endblock %}
