{% load static %}

<header>
    <!-- Общий хедер -->
    <div class="main-container mb-4">
        <div class="header-links header-top">
            <ul class="links-list">
                <li>Петербург, ул.Перевозная, 6</li>
                <li>пн.-пт.10:00-18:00</li>
                <li><a href="mailto:nda@nda.ru">nda@nda.ru</a></li>
                <li><a href="tel:88127140614">8(812)714-06-14</a></li>
            </ul>
            <div class="links-list">
                <ul class="nav">
                    <li>
                        <a href="#" class="nda111">Условия работы</a>
                    </li>
                    <li>
                        <a href="#">Адреса и контакты</a>
                    </li>
                    <li>
                        <a href="#">О нас</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="horizontal-line"></div>
        <div class="header-links">
            <div class="logo-block">
                <a href="/"><img src="{% get_media_prefix %}logo-header.png" alt="НДА - Деловая медицинская компания">
                    <span>НДА Деловая медицинская компания</span>
                </a>
            </div>
            <ul class="links-list bottom-links-list">
                <li>
                    <a href="#">РУ и Сертификаты</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- конец общего хедера -->
</header>
