{% extends 'core/base.html' %}
{% load cache %}
{% load static %}
{% block content %}
    
<body>
<div>
    {% include 'cart/message_success.html' %}
</div>
{% cache 600 index_page %}
    <div class="tabs">
    <ul class="tab-list">
        <li class="tab-item active" data-tab="tab1">Каталог по производителям</li>
        <li class="tab-item" data-tab="tab2">Каталог по направлениям</li>
    </ul>
    <div class="tab-content">
    <div class="tab-pane active" id="tab1">
    <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 mx-5 g-2 g-lg-3">
        {% for brand in brands %}
            <div class="col">
            <div class="card w-auto" style="width: 310px; height: 283px;">
            <div class="card-body" style="width: 221px; height: 152px;">
            <a href="{% url 'brand' brand_slug=brand.slug %}">
                {% if not brand.logo %}
                    <img src="{% get_media_prefix %}default.jpg" class="card-img-top">
                {% else %}
                    <img src="{{ brand.logo.url }}" class="card-img-top">
                {% endif %}
            </a>
            <h6 class="fw-bold fs-6">{{ brand.name.upper }}</h6>
            <p class="fs-6">{{ brand.description.upper }}</p>
            </div>
            </div>
            </div>
        {% endfor %}
    </div>
    </div>
    </div>
    </div>
    <div class="tab-pane" id="tab2"></div>
    <div class="box">
    {% for category in categories %}
        <div class="selection">
            {% if not category.logo %}
                <p class="back_fon">
                    <img src="{% get_media_prefix %}default.jpg"/>
                </p>
            {% else %}
                <p class="back_fon">
                    <img src="{{ category.logo.url }}"/>
                </p>
            {% endif %}
            <a href="{% url 'category' category_slug=category.slug %}">{{ category.name.upper }}</a>
        </div>
    {% endfor %}
    </div>
    </div>
    </div>
    <script>document.addEventListener('DOMContentLoaded', function() {
        var tabItems = document.querySelectorAll('.tab-item');
        tabItems.forEach(function(tab) {
            tab.addEventListener('click', function() {
                var tabId = this.getAttribute('data-tab');
                var content = document.getElementById(tabId);

      // Удаляем активный класс у текущих вкладок и контента
        document.querySelector('.tab-item.active').classList.remove('active');
        document.querySelector('.tab-pane.active').classList.remove('active');

      // Добавляем активный класс для выбранной вкладки и контента
        this.classList.add('active');
        content.classList.add('active');
            });
        });
    });
    </script>
{% endcache %}
</body>

{% endblock %}      