{% extends 'core/base1.html' %}
{% load pagination_tags %}
{% load static %}
{% load cache %}

{% block title %}
  <title>Результаты поиска</title>
{% endblock %}

{% block content %}
  <header style="height: 0px;">
    <!-- летающая шапка -->
    {% include 'core/components/flyingHeader.html' %}

    <!-- летающая шапка -->
  </header>
  <main class="main">
    <div class="container1">
      <div class="searchResult">
        <h1>Результаты поиска</h1>
        {% if messages %}
          {% for message in messages %}
            <div>{{ message }}</div>
          {% endfor %}
        {% elif object_list %}
          {% cache 600 page_obj.number request.GET.urlencode %}
            <div>
              <span>
                {% if page_obj.has_previous %}
                  <a href="{% url_with_query_params request %}">&laquo; В начало</a>
                  <a href="{% url_with_query_params request page_obj.previous_page_number %}">Предыдущая страница</a>
                {% endif %}
                {% if page_obj.paginator.num_pages > 1 %}
                  <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.</span>
                {% endif %}
                {% if page_obj.has_next %}
                  <a href="{% url_with_query_params request page_obj.next_page_number %}">Следующая страница</a>
                  <a href="{% url_with_query_params request page_obj.paginator.num_pages %}">В конец &raquo;</a>
                {% endif %}
              </span>
            </div>

            {% for product in object_list %}
              {% cache 600 product.pk %}
                <div class="searchResultEl">
                  <a href="{% url 'offer' brand_slug=product.brand.slug product_slug=product.slug %}">
                    <div class="searchResultName">
                      {{ product.name.upper }}
                    </div>

                    {% for offer in product.related_offers %}
                      <div class="searchResultArticle">
                       <div class="searchResultArticleName">
                        <div class="">Код товара: </div>
                        <div class=""><b>{{ offer.name | safe}}</b> </div>
                       </div>
                       <div class="searchResultArticleDescription">
                        <div class="">Описание: </div>
                        <div class="innerDescription">{{ offer.text_description | safe}}</div>

                       </div>
                      </div>
                    {% endfor %}
                  </a>
                </div>
              {% endcache %}
            {% endfor %}

          {% endcache %}
        {% else %}
          <div>По вашему запросу ничего не найдено. Попробуйте изменить запрос и попробовать снова</div>
        {% endif %}
      </div>
    </div>

    <!-- плавающий элемент с формами связи -->
    {% include 'core/components/formsContainer.html' %}
    <!-- плавающий элемент с формами связи -->
  </main>

{% endblock %}
