<script src="https://smartcaptcha.yandexcloud.net/captcha.js" defer></script> 

<!-- Модальное окно для заказа звонка -->
<div class="modal fade" id="callModal" tabindex="-1" aria-labelledby="callModalLabel" aria-hidden="true" onclick="modalClickHandler(event)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="callModalLabel">Заказать звонок</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="location.reload();"></button>
      </div>
      <div class="modal-body">
        <form 
        id="call_form" 
        action="{% url 'call_submit' %}"
        method="post"
        enctype="multipart/form-data"
        hx-post="{% url 'call_submit' %}?random={{ timestamp }}%}"
        hx-target="#call_form" 
        hx-swap="none"  
        novalidate
        >


          {% csrf_token %}
          <div id="call-form-container">
            <div class="form-floating mb-2">
              {{ call_form.name }}
              <label for="fullNameLegal">Ваше имя</label>
              {% if call_form.name.errors %}
                <div class="text-danger">{{ call_form.name.errors }}</div>
              {% endif %}
            </div>
            <div class="form-floating mb-2">
              {{ call_form.phone_number }}
              {% comment %} <label for="phone">Ваш телефон</label> {% endcomment %}
              {% if call_form.phone_number.errors %}
                <div class="text-danger">{{ call_form.phone_number.errors }}</div>
              {% endif %}
            </div>
            <div class="form-floating mb-2">
              {{ call_form.message }}
              <label for="message">Текст письма</label>
              {% if call_form.message.errors %}
                <div class="text-danger">{{ call_form.message.errors }}</div>
              {% endif %}
            </div>
            <div class="mb-2">
              <label class="input-file">
                {{ call_form.company_details }}
                <span>Прикрепить файл</span>
                {% if call_form.company_details.errors %}
                  <div class="text-danger">{{ call_form.company_details.errors }}</div>
                {% endif %}
              </label>
            </div>
            <div id="captcha-container" class="smart-captcha" data-sitekey="ysc1_sxny6cNZmnvhyJKrojDDLNxj0nvkGnTleldHzqEo9d9475ca"></div>

            <button type="submit" class="btn btn-success mt-3">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
