
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js"></script>

<form
    id="cart_modal_form"
    action="{% url 'cart_submit' %}"
    method="post"
    enctype="multipart/form-data"
    hx-post="{% url 'cart_submit' %}"
    hx-target="#modal_form_container"
    hx-swap="outerHTML"  
    novalidate
>
    {% csrf_token %}
    <div id="modal_form_container"> 
        <div class="physicalForm">
            <div class="formEl">
                <div class="form-floating mb-3">
                    {{ contact_form.name }}
                    <label for="fullNameLegal">ФИО контактного лица</label>
                </div>
                <div class="oneLine">
                    <div class="form-floating mb-3 w-50">
                        {{ contact_form.phone_number }}
                    </div>
                    <div class="form-floating mb-3 w-50">
                        {{ contact_form.email }}
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="oneLine">
                    <div class="form-floating mb-3 w-50">
                        {{ contact_form.company_name }}
                        <label for="companyName">Наименование организации</label>
                    </div>
                    <div class="form-floating mb-3 w-50">
                        {{ contact_form.inn }}
                        <label for="inn">ИНН</label>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    {{ contact_form.message }}
                    <label for="message">Комментарий к заказу</label>
                </div>
                <div class="mb-3">
                    <label class="input-file">
                        {{ contact_form.company_details }}
                        <span class="filename">Прикрепить файл</span>
                    </label>
                    
                </div>
                <div
                    id="captcha-container"
                    class="smart-captcha mb-3"
                    data-sitekey="ysc1_sxny6cNZmnvhyJKrojDDLNxj0nvkGnTleldHzqEo9d9475ca"
                >
                </div>   

                {% if captchaError %}
                    <div class="text-danger mb-3">{{ captchaError }}</div>
                {% endif %} 

                {% if emailError %}
                    <div class="text-danger mb-3">{{ emailError }}</div>
                {% endif %}
                {% if emailSuccess %}
                    <div class="text-success mb-3">{{ emailSuccess }}</div>
                {% endif %}
                {% if contact_form.email.errors %}
                    <div class="error-message">
                        {% for error in contact_form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="modal-footer">
                    <button type="submit" form="cart_modal_form" class="btn btn-primary">Отправить запрос</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script src="https://smartcaptcha.yandexcloud.net/captcha.js" defer></script> 
<script>
    document.addEventListener('htmx:afterSwap', function(event) {
        if (event.detail.xhr.getResponseHeader('HX-Trigger')) {
            const trigger = JSON.parse(event.detail.xhr.getResponseHeader('HX-Trigger'));
            if (trigger && trigger.resetCaptcha) {
                // Переинициализируем Яндекс Капчу
                let captchaContainer = document.getElementById('captcha-container');
                captchaContainer.innerHTML = '<div class="smart-captcha" data-sitekey="ysc1_sxny6cNZmnvhyJKrojDDLNxj0nvkGnTleldHzqEo9d9475ca"></div>';
                ymaps.ready(function(){
                    var smartCaptcha = new yaSmartCaptcha({
                        k: 'ysc1_sxny6cNZmnvhyJKrojDDLNxj0nvkGnTleldHzqEo9d9475ca',
                        invisible: false,
                        callback: function(token){
                            console.log(token);
                        }
                    })
                })
            }
        }
    });
</script>
