<form class="order-popup__form" id="physical_modal_form" action="{% url 'physical_cart_submit' %}"
                method="post" enctype="multipart/form-data"
                hx-post="{% url 'physical_cart_submit' %}?random={{ timestamp }}%}" hx-target="#physical_modal_form_container"
                hx-swap="none" novalidate>
                {% csrf_token %}
                <div id="physical_modal_form_container">
                <div class="order-popup__form-panel order-popup__form-panel_physical" data-order-panel="physical"
                  role="tabpanel">
                  <div class="physicalForm">
                    <div class="formEl">
                      <div class="form-floating mb-3">
                        {{ p_contact_form.name }}
                        <label for="fullNameLegal">ФИО контактного лица</label>
                      </div>
                      <div class="oneLine">
                        <div class="form-floating mb-3 w-50">
                          {{ p_contact_form.phone_number }}
                          {% if p_contact_form.phone_number.errors %}
                          <div style="color: red">
                            {{ p_contact_form.phone_number.errors }}
                          </div>
                          {% endif %}
                        </div>
                        <div class="form-floating mb-3 w-50">
                          {{ p_contact_form.email }}
                          {% if p_contact_form.email.errors %}
                          <span class="invalid-feedback">
                            {{ p_contact_form.email.errors }}
                          </span>
                          {% endif %}
                          <label for="email">Email</label>
                        </div>
                      </div>
                      <div class="form-floating mb-3">
                        {{ p_contact_form.message }}
                        <label for="message">Комментарий к заказу</label>
                      </div>
                      <div class="mb-3">
                        <label class="input-file">
                          {{p_contact_form.company_details}}
                          <span class="filename1">Прикрепить файл</span>
                        </label>
                      </div>

                      <div id="captcha-container-physical" class="smart-captcha mb-3"
                        data-sitekey="ysc1_sxny6cNZmnvhyJKrojDDLNxj0nvkGnTleldHzqEo9d9475ca">
                      </div>

                      <div class="modal-footer">
                        <button type="submit" form="physical_modal_form" class="btn btn-primary">Отправить запрос</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </form>