<div class="success-popup" id="successPopup" role="dialog" aria-modal="true" aria-labelledby="successPopupTitle"
      aria-hidden="true" hidden>
      <div class="success-popup__backdrop" data-success-popup-close aria-label="Закрыть"></div>
      <div class="success-popup-wrapper">
        <div class="success-popup__modal">

          <div class="success-popup__icon" aria-hidden="true">
            <svg width="213" height="213" viewBox="0 0 213 213" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M53.0078 101.375L101.201 146L208.008 20.0005" stroke="#65CCA5" stroke-width="10" />
              <path
                d="M194.44 55.7805C203.387 71.2588 208.358 89.2986 207.985 108.477C206.893 164.524 160.573 209.073 104.527 207.981C48.4809 206.89 3.93143 160.57 5.02319 104.524C6.11495 48.4774 52.4345 3.92802 108.481 5.01978C134.966 5.53571 158.884 16.1518 176.632 33.1216"
                stroke="#65CCA5" stroke-width="10" />
            </svg>
          </div>
          <p class="success-popup__text" id="successPopupTitle">Спасибо за обращение в ООО «НДА Деловая медицинская компания».
            Ваш запрос поступил в обработку. В ближайшее время мы подготовим для Вас коммерческое предложение. Наш менеджер
            может связаться с Вами для уточнения деталей.
            Обращаем Ваше внимание: коммерческое предложение носит информационный характер и не является официальным документом.
            Счет будет выставлен отдельно, после согласования скидок и условий оплаты.
            С уважением,
            ООО «НДА Деловая медицинская компания»</p>
          <button type="button" class="success-popup__btn" data-success-popup-close>Закрыть</button>
        </div>
      </div>
    </div>