<form action="" method="post" enctype="multipart/form-data">
{#<script>#}
{#      function callback(token) {#}
{#        console.log(callback);#}
{#      }#}
{#    </script>#}
    <script src="https://smartcaptcha.yandexcloud.net/captcha.js" async defer></script>
    {% csrf_token %}
    <div>
        {{ form.name }}
    </div>
    <div>
        {{ form.phone_number }}
        {% if form.phone_number.errors %}
            <span style="color: #FF4343">
                {{ form.phone_number.errors }}
            </span>
        {% endif %}
    </div>
    <div>
        {{ form.email }}
            {% if form.email.errors %}
                <span style="color: #FF4343">
                    {{ form.email.errors }}
                </span>
            {% endif %}
    </div>
    <div>
        {{ form.company_details }}
            {% if form.company_details.errors %}
                <span style="color: #FF4343">
                    {{ form.details.errors }}
                </span>
            {% endif %}
    </div>
    <div>
        {{ form.message }}
            {% if form.message.errors %}
                <span style="color: #FF4343">
                    {{ form.errors.message }}
                </span>
            {% endif %}
    </div>
    <div
        id="captcha-container"
        class="smart-captcha"
        data-sitekey="ysc1_sxny6cNZmnvhyJKrojDDLNxj0nvkGnTleldHzqEo9d9475ca"
        data-hl="ru"
        data-callback="callback"
      ></div>
    <button type="submit">Отправить запрос</button>
</form>
{#<script>#}
{#    function onloadFunction() {#}
{#        if (window.smartCaptcha) {#}
{#            const containers = document.querySelectorAll('#captcha-container');#}
{#            containers.forEach(function (container) {#}
{#                const widgetId = window.smartCaptcha.render(container, {#}
{#                sitekey: "ysc1_sxny6cNZmnvhyJKrojDDLNxj0nvkGnTleldHzqEo9d9475ca",#}
{#                });#}
{#                container.dataset.widgetid = widgetId#}
{#            })}#}
{#    }#}
{#</script>#}
