{% extends 'base.html' %}
{% load cache %}
{% load static %}

{% block content %}
<body>
<div>
    {% include 'cart/message_success.html' %}
</div>
{% cache 600 index_page %}
    <div>
        <ul>
            <li>Каталог по производителям</li>
            {% for brand in brands %}
                <div>
                    <p>
                        {% if not brand.logo %}
                            <img src="{% get_media_prefix %}default.jpg"/>
                        {% else %}
                            <img src="{{ brand.logo.url }}"/>
                        {% endif %}
                            <a href="{% url 'brand' brand_slug=brand.slug %}">{{ brand.name.upper }}</a>
                    </p>
                </div>
            {% endfor %}
            <li>Каталог по направлениям</li>
            {% for category in categories %}
                <div>
                    <p>
                        <img src="{{ category.logo.image.url }}"/>
                        <a href="{% url 'category' category_slug=category.slug %}">{{ category.name.upper }}</a>
                    </p>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endcache %}
</body>

{% endblock %}      