{% load static %}

<section class="hero-page hero-page_theme_main"
         style="background: linear-gradient(135deg,
                 {% if brand %}
                     {{ brand.banner_color }}
                 {% else %}
                     {{ category.banner_color }}
                 {% endif %} 0%,
                 #ffffff 100%);">
    {% if request.resolver_match.url_name == 'brand_certificates' %}
        <div class="hero-page__card">
            {% if brand.logo %}
                <img class="hero-page__logo" src="{{ brand.logo.url }}" alt="Логотип {{ brand.name }}" width="183" height="122">
            {% else %}
                <img class="hero-page__logo" src="{% static 'img/noImage.webp' %}" alt="Нет изображения логотипа" width="183" height="122">
            {% endif %}
        </div>
        <div class="hero-page__content">
            <h1 class="hero-page__title t-70-101">РУ {{ brand.name|safe|striptags }}</h1>
        </div>
    {% elif request.resolver_match.url_name == 'brand' %}
        <div class="hero-page__card">
            {% if brand.logo %}
                <img class="hero-page__logo" src="{{ brand.logo.url }}" alt="Логотип {{ brand.name }}" width="183" height="122">
            {% else %}
                <img class="hero-page__logo" src="{% static 'img/noImage.webp' %}" alt="Нет изображения логотипа" width="183" height="122">
            {% endif %}
        </div>
        <div class="hero-page__content">
            <h1 class="hero-page__title t-70-101">{{ brand.name|safe|striptags }}</h1>
            {% if user.is_authenticated %}
                <a href="https://nda.ru/admin/catalog/brand/{{ brand.id }}/change/" style="color: white" target="_blank">
                    <p class="hero-page__subtitle t-30-43">{{ brand.description|safe|striptags }}</p>
                </a>
            {% else %}
                <p class="hero-page__subtitle t-30-43">{{ brand.description|safe|striptags }}</p>
            {% endif %}
        </div>
    {% elif request.resolver_match.url_name == 'category' %}
        {% if brand %}
            <div class="hero-page__card">
                {% if brand.logo %}
                    <img class="hero-page__logo" src="{{ brand.logo.url }}" alt="Логотип {{ brand.name }}" width="183" height="122">
                {% else %}
                    <img class="hero-page__logo" src="{% static 'img/noImage.webp' %}" alt="Нет изображения логотипа" width="183" height="122">
                {% endif %}
            </div>
            <div class="hero-page__content">
                <h1 class="hero-page__title t-70-101">{{ brand.name|safe|striptags }}</h1>
                {% if user.is_authenticated %}
                     <a href="https://nda.ru/admin/catalog/category/{{ category.id }}/change/" style="color: white" target="_blank">
                        <p class="hero-page__subtitle t-30-43">{{ category.name|safe|striptags }}</p>
                     </a>
                {% else %}
                    <p class="hero-page__subtitle t-30-43">{{ category.name|safe|striptags }}</p>
                {% endif %}
            </div>
        {% elif category %}
            <div class="hero-page__card">
                {% if category.logo %}
                    <img class="hero-page__logo" src="{{ category.logo.url }}" alt="Логотип {{ category.name }}" width="183" height="122">
                {% else %}
                    <img class="hero-page__logo" src="{% static 'img/noImage.webp' %}" alt="Нет изображения логотипа" width="183" height="122">
                {% endif %}
            </div>
            <div class="hero-page__content">
                {% if user.is_authenticated %}
                     <a href="https://nda.ru/admin/catalog/category/{{ category.id }}/change/" style="color: white" target="_blank">
                         <h1 class="hero-page__title t-70-101">{{ category.name|safe|striptags }}</h1>
                     </a>
                {% else %}
                     <h1 class="hero-page__title t-70-101">{{ category.name|safe|striptags }}</h1>
                {% endif %}
            </div>
        {% endif %}
    {% elif request.resolver_match.url_name == 'offer'  %}
        <div class="hero-page__card">
            {% if brand.logo %}
                <img class="hero-page__logo" src="{{ brand.logo.url }}" alt="Логотип {{ brand.name }}" width="183" height="122">
            {% else %}
                <img class="hero-page__logo" src="{% static 'img/noImage.webp' %}" alt="Нет изображения логотипа" width="183" height="122">
            {% endif %}
        </div>
        <div class="hero-page__content">
            <p class="hero-page__title t-70-101">{{ brand.name|safe|striptags }}</p>
            <p class="hero-page__subtitle t-30-43">{{ product.name|safe|striptags }}</p>
        </div>
    {% endif %}
</section>
