{% load static %}

<section class="hero-page hero-page_theme_main"
         style="background: linear-gradient(135deg,
                 {% if brand %}
                     {{ brand.banner_color }}
                 {% else %}
                     {{ category.banner_color }}
                 {% endif %} 0%,
                 #ffffff 100%);">
    <div class="hero-page__card">
        {% if brand.logo %}
            <img class="hero-page__logo" src="{{ brand.logo.url }}" alt="Логотип {{ brand.name }}" width="183" height="122">
        {% elif category.logo %}
            <img class="hero-page__logo" src="{{ category.logo.url }}" alt="Логотип {{ category.name }}" width="183" height="122">
        {% else %}
            <img class="hero-page__logo" src="{% static 'img/noImage.jpg' %}" alt="Нет изображения логотипа" width="183" height="122">
        {% endif %}
    </div>
    <div class="hero-page__content">
        {% if brand %}
            {% if not product %}
                <h1 class="hero-page__title t-70-101">{{ brand.name|safe|striptags }}</h1>
            {% elif product %}
                <p class="hero-page__title t-70-101">{{ brand.name|safe|striptags }}</p>
            {% endif %}
            {% if category %}
                <p class="hero-page__subtitle t-30-43">{{ category.name|safe|striptags }}</p>
            {% elif product %}
                <p class="hero-page__subtitle t-30-43">{{ product.name|safe|striptags }}</p>
            {% elif brand %}
                <p class="hero-page__subtitle t-30-43">{{ brand.description|safe|striptags }}</p>
            {% endif %}
        {% elif category %}
            <h1 class="hero-page__title t-70-101">{{ category.name|safe|striptags }}</h1>
            <p class="hero-page__subtitle t-30-43">{{ category.description|safe|striptags }}</p>
        {% endif %}
    </div>
</section>
