{% load static %}

<nav class="breadcrumbs" aria-label="Хлебные крошки">
    <a class="breadcrumbs__link t-18" href="{% url 'home' %}">ГЛАВНАЯ</a>
    <span class="breadcrumbs__sep" aria-hidden="true">/</span>
    {% if category.brand %}
        <a href="{% url 'brand' brand_slug=category.brand.slug %}">
            <span class="breadcrumbs__link t-18">
                {{ category.brand.name }}
            </span>
        </a>
        <span class="breadcrumbs__sep" aria-hidden="true">/</span>
    {% elif product.brand %}
        <a href="{% url 'brand' brand_slug=product.brand.slug %}">
            <span class="breadcrumbs__link t-18">
                {{ product.brand.name }}
            </span>
        </a>
        <span class="breadcrumbs__sep" aria-hidden="true">/</span>
    {% endif %}
    {% if not breadcrumbs %}
        {% if category %}
            <span class="breadcrumbs__current t-18 breadcrumbs__current_weight_medium">
                {{ category.name }}
            </span>
        {% elif product %}
            <span class="breadcrumbs__current t-18 breadcrumbs__current_weight_medium">
                {{ product.name }}
            </span>
        {% endif %}
    {% else %}
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb and breadcrumb.brand%}
                <a href="{% url 'category' category_slug=breadcrumb.slug %}">
                    <span class="breadcrumbs__link t-18">
                        {{ breadcrumb.name }}
                    </span>
                </a>
                <span class="breadcrumbs__sep" aria-hidden="true">/</span>
            {% endif %}
        {% endfor %}
        {% if product %}
            <span class="breadcrumbs__current t-18 breadcrumbs__current_weight_medium">
                {{ product.name }}
            </span>
        {% else %}
            <span class="breadcrumbs__current t-18 breadcrumbs__current_weight_medium">
                {{ category.name }}
            </span>
        {% endif %}
    {% endif %}
</nav>
