{% load static %}

<section class="catalog">
    <div class="container">
        <h1 style="display: none">НДА Деловая медицинская компания - продажа медицинских изделий, оборудования и расходных материалов</h1>
        <h2 class="catalog__title t-section-title" id="catalog">Каталог</h2>
        <div class="catalog__tabs-wrap">
            <div class="catalog__tabs">
                <button class="catalog__tab catalog__tab_active t-25" type="button" data-tab="manufacturer">Выбор по
                    производителю</button>
                <button class="catalog__tab t-25" type="button" data-tab="category">Выбор по категориям</button>
            </div>
        </div>
        <div class="catalog__panel catalog__panel_active" data-panel="manufacturer">
            <ul class="catalog__grid">
                {% for brand in brands|dictsort:'place' %}
                    <a href="{% url 'brand' brand_slug=brand.slug %}">
                        <div class="catalog__card">
                            {% if brand.logo %}
                                <div class="catalog__card-image">
                                    <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" width="262" height="140">
                                </div>
                            {% else %}
                                <img src="{% static 'img/noImage.webp' %}" alt="No Image" />
                            {% endif %}
                            <p class="catalog__card-title t-20-29">{{ brand.name }}</p>
                            <p class="catalog__card-desc t-16">{{ brand.description|safe|striptags }}</p>
                        </div>
                    </a>
                {% endfor %}
            </ul>
        </div>
        <div class="catalog__panel" data-panel="category">
            <ul class="catalog__grid">
                {% for category in categories|dictsort:'place' %}
                    {% if not category.brand %}
                        <a href="{% url 'category' category_slug=category.slug %}">
                            <div class="catalog__card">
                                {% if category.logo %}
                                    <div class="catalog__card-image">
                                        <img src="{{ category.logo.url }}" alt="{{ category.name }}" width="262" height="140">
                                    </div>
                                {% else %}
                                    <img src="{% static 'img/noImage.webp' %}" alt="No Image" />
                                {% endif %}
                                <p class="catalog__card-title t-20-29">{{ category.name }}</p>
                                <p class="catalog__card-desc t-16">{{ category.description|safe|striptags }}</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
