{% load static %}
{% load script_tags %}

<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__brand">
        <div class="footer-logo_content">
          <img class="footer__logo" src="{% static 'img/logo-header.png' %}" alt="НДА">
          <div class="footer__brand">
            <p class="footer__name t-22">НДА</p>
            <p class="footer__slogan t-20">Деловая медицинская компания</p>
          </div>
        </div>
        <p class="footer__copyright t-20 text-muted">ООО "НДА Деловая медицинская компания". Все права защищены
          © 2024 год. Использование любых материалов возможно только с письменного разрешения</p>
      </div>
      <div class="footer-content">
        <nav class="footer__nav">
          <p class="footer__heading t-22">Ссылки</p>
          <a class="footer__link footer__link_active t-20" href="/">Главная</a>
          <a class="footer__link t-20 text-muted" href="usloviya.html">Условия работы</a>
          <a class="footer__link t-20 text-muted" href="certificates.html">РУ и сертификаты</a>
          <a class="footer__link t-20 text-muted" href="contacts.html">Контакты</a>
          <a class="footer__link t-20 text-muted" href="politika.html">Политика конфиденциальности</a>
        </nav>
        <div class="footer__schedule">
          <p class="footer__heading t-22">График работы:</p>
          <p class="footer__schedule-text t-20 text-muted">Пн-Пт: 10:00 – 18:00</p>
        </div>
        <div class="footer__address">
          <p class="footer__heading t-22">Адрес офиса:</p>
          <p class="footer__address-text t-20 text-muted">190121, г. Санкт-Петербург, ул.Перевозная, 6</p>
          <p class="footer__heading t-22">Адрес склада:</p>
          <p class="footer__address-text t-20 text-muted">198095, г. Санкт-Петербург, Михайловский пер., д.4 Лит. АН
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

{% render_scripts 'footer' %}