{% load static %}
{% load script_tags %}

<footer>
    <div class="container1">
        <div class="footerInner" style=" background-image: url('{% static "images/footerBg.png" %}');">
            <div class="footerInfo">
                <div class="footerLogo">
                    <div class="footerLogoCustom">
                        <img src="{% static 'images/companyLogo.svg' %}" alt="">
                        <div class="footerLogoCustomText">
                            НДА <br>
                            Деловая медицинская компания
                        </div>
                    </div>
                    
                    <div class="footerLogoText">
                        ООО "НДА Деловая медицинская компания".
                        Все права защищены © {{ current_year }} год. Использование любых материалов возможно только с письменного
                        разрешения
                    </div>
                </div>
                <div class="footerData">
                    <div class="footerDataEls">
                        <h4>Ссылки</h4>
                        <ul>
                            <a href={% url "home" %}>
                                {% if current_url_name == 'home' %}
                                    <span>
                                        <li><span style="color:#3494c8">Главная</span></li>
                                    </span>
                                {% else %}
                                    <span>
                                        <li style="color:#bebebe"><span>Главная</span></li>
                                    </span>
                                {% endif %}
                            </a>
                            
                            <a href={% url "work" %}>
                                {% if current_url_name == 'work' %}
                                    <span>
                                        <li><span style="color:#3494c8">Условия работы</span></li>
                                    </span>
                                {% else %}
                                    <span>
                                        <li style="color:#bebebe"><span>Условия работы</span></li>
                                    </span>
                                {% endif %}
                            </a>
                           
                            <a href={% url "brands_with_certificates" %}>
                                {% if current_url_name == 'brands_with_certificates' %}
                                    <span>
                                        <li><span style="color:#3494c8">РУ и сертификаты</span></li>
                                    </span>
                                {% else %}
                                    <span>
                                        <li style="color:#bebebe"><span>РУ и сертификаты</span></li>
                                    </span>
                                {% endif %}
                            </a>

                            <a href={% url "contacts" %}>
                                {% if current_url_name == 'contacts' %}
                                    <span>
                                        <li><span style="color:#3494c8">Контакты</span></li>
                                    </span>
                                {% else %}
                                    <span>
                                        <li style="color:#bebebe"><span>Контакты</span></li>
                                    </span>
                                {% endif %}
                            </a>

                            <a href={% url "privacy" %}>
                                {% if current_url_name == 'privacy' %}
                                    <span>
                                        <li><span style="color:#3494c8">Политика <br> конфиденциальности</span></li>
                                    </span>
                                {% else %}
                                    <span>
                                        <li style="color:#bebebe"><span>Политика <br> конфиденциальности</span></li>
                                    </span>
                                {% endif %}
                            </a>
                        </ul>
                    </div>
                    <div class="footerDataEls contacts more550">
                        <ul>
                            <h4>График работы:</h4>
                            <li>Пн-Пт:10:00 - 18:00</li>
                        </ul>
                    </div>
                    <div class="footerDataEls address">
                        <h4>Адрес офиса:</h4>
                        <ul>
                            <li>г. Санкт-Петербург,<br> ул.Перевозная, 6</li>
                        </ul>
                        <h4>Адрес склада:</h4>
                        <ul>
                            <li>198095, г. Санкт-Петербург, <br>Михайловский  пер., д.4 Лит. АН</li>
                        </ul>

                        <h4 class="less550">График работы:</h4>
                        <ul class="less550">
                            <li>Пн-Пт:10:00 - 18:00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% render_scripts 'footer' %}