{% load static %}

<div class="formsContainer">

    <div class="formButton">
        <button id="toggleOptions" class="formButtonChoice flex">
            <img src="{% static 'images/Call.svg' %}" alt="">
        </button>

        <div class="formButtonOptions" id="options" style="display: none;">
          {# data-bs-toggle="modal" data-bs-target="#emailModal" data-bs-toggle="modal" data-bs-target="#callModal" #}
            <div class="formButtonEmail flex"><img
                    src="{% static 'images/products/ButtonEmail.svg' %}" alt=""></div>
            <div class="formButtonCall flex"><img
                    src="{% static 'images/products/ButtonCall.svg' %}" alt=""></div>
            <div class="formButtonClose flex" id="close"><img
                    src="{% static 'images/products/ButtonClose.svg' %}" alt="">
            </div>
        </div>
    </div>


    <!-- Модальное окно для написания письма -->
    
   {% include "nda_email/emailModal.html" %}

    <!-- Модальное окно для заказа звонка -->
    {% include "nda_email/callModal.html" %}

    
</div>