{% load static %}

<section class="hero">
    <div class="container">
        <div class="hero__inner swiper hero-swiper">
            <div class="swiper-wrapper">
                {% for ad in ads%}
                    {% if ad.block_category%}
                        <div class="swiper-slide">
                            <div class="hero__slide-inner">
                                <div class="hero__left">
                                    <div class="hero__content">
                                        <h1 class="hero__title t-hero-title">{{ad.block_header|safe}}</h1>
                                        <ul class="hero__list">
                                            {{ad.block_text|safe}}
                                        </ul>
                                    </div>
                                </div>
                                <div class="hero__media">
                                    <img class="hero__img" src="{{ad.block_image.url}}" alt="">
                                </div>
                                <a class="hero__btn t-20" href="{% url 'offer' brand_slug=ad.block_category.brand.slug product_slug=ad.block_category.slug %}">Подробнее <svg width="19" height="11" viewBox="0 0 19 11" fill="none"
                                                                                  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.0557 0.949219L9.50232 9.50256L0.499821 0.500065" stroke="white" stroke-linecap="round" />
                                </svg></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
