:root {
    --color-theme-main: #3391c5;
    --color-theme-button-border: #5BA7D0;
    --color-theme-card-border: #efefee;
    --color-theme-text: #454545;
    --color-theme-header: #f9f9f7;
    --color-theme-line: #8a9ba5;
}

@font-face {
    font-family: Circe-bold;
    src: url('../fonts/circe-bold.ttf');
}

@font-face {
    font-family: Circe;
    src: url('../fonts/circe.ttf');
}

html body {
    font-family: Circe, sans-serif;

}

p span {
    font-family: Circe, sans-serif !important;
    font-size: 20px;
}

.breadcrumb .breadcrumb-item {
    letter-spacing: -1px;
}

h1, h4 {
    font-family: Circe-bold, sans-serif;
    letter-spacing: -1px;
}

.button-bg {
    background-color: var(--color-theme-main) !important;
    border-color: var(--color-theme-main) !important;
}

.button-bg:hover{
    background-color: var(--color-theme-button-border) !important;
    border-color: var(--color-theme-button-border) !important;
}

.nav-link {
    color: var(--color-theme-main) !important;
}

.nav-item .active {
    background-color: var(--color-theme-main) !important;
    color: #fff !important;;
}

.nda-card {
    border: solid 1px var(--color-theme-card-border);
    border-radius: 0.25rem;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    position: relative;
}

/*.nda-card:hover {*/
/*    border: solid 1px var(--color-theme-text);*/
/*}*/

.nda-card-image {
    border-radius: 10px;
    object-fit: fill;
}
.nda-card:hover img{
    filter:blur(12px);
}

.nda-card .card-title {
    opacity: 0;
}
.nda-card:hover .card-title {
    color: var(--color-theme-text);
    opacity: 1;
}

.category-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: solid 1px var(--color-theme-card-border);
    border-radius: 0.25rem;
}

.category-card .card-text {
    color: var(--color-theme-text);
}

.category-card:hover {
    border: solid 1px var(--color-theme-main);
}

.category-card:hover .card-text {
    color: var(--color-theme-main);
}

@media (max-width: 1200px) {
    .text-height-media {
        min-height: 130px;
    }
}

.thumbnail-carousel {
    display: flex;
    overflow: hidden;
}
.thumbnail-carousel .thumbnails {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
.thumbnail-carousel img {
    cursor: pointer;
}

@media (max-width: 4000px) {
    .main-container {
        margin-right: 18rem;
        margin-left: 18rem;
    }
    .infoblock-margin {
        margin-left: 18rem;
    }
}

@media (max-width: 2300px) {
    .main-container {
        margin-right: 15rem;
        margin-left: 15rem;
    }
    .infoblock-margin {
        margin-left: 15rem;
    }
}

@media (max-width: 1800px) {
    .main-container {
        margin-right: 12rem;
        margin-left: 12rem;
    }
    .infoblock-margin {
        margin-left: 12rem;
    }
}

@media (max-width: 1500px) {
    .main-container {
        margin-right: 7rem;
        margin-left: 7rem;
    }
    .infoblock-margin {
        margin-left: 7rem;
    }
}

@media (max-width: 1200px) {
    .main-container {
        margin-right: 5rem;
        margin-left: 5rem;
    }
    .infoblock-margin {
        margin-left: 5rem;
    }
}

@media (max-width: 999px) {
    .main-container {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .infoblock-margin {
        margin-left: 2rem;
    }
}

.offer-carousel-next {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-image: url('icons8-next-page-32.png');
}

.offer-carousel-previous {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-image: url('icons8-back-to-32.png');
}

.search-button {
    display: inline-block;
    min-height: calc(1.5em + (1rem + 2px));
    padding: 0.5rem 1rem;
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
    border-radius: 0.3rem;
    background-image: url('icons8-search.svg');
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-top ul li:not(:last-child)::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
}

.links-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    display: inline;
}

a {
    cursor: pointer;
    color: var(--color-theme-text);
    text-decoration: none;
}

.horizontal-line {
    background-color: var(--color-theme-line);
    width: 100%;
    height: 1px;
}

.logo-block a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}
.logo-block img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.logo-block span {
    color: #333333 !important;
}

.bottom-links-list li {
    padding-left: 20px;
}

header {
    background-color: var(--color-theme-header);
}

/*.divTable{*/
/*    display: table;*/
/*    width: 100%;*/
/*    border: 2px solid #3391c5;*/
/*    box-shadow: 0 0 5px 0 #000000*/
/*}*/
/*.divTableRow {*/
/*    display: table-row;*/
/*}*/
/*.divTableRowHead {*/
/*    display: table-row;*/
/*    background: rgb(249, 249, 247);*/
/*    border-bottom: 20px;*/
/*}*/

/*.divTableCell {*/
/*    border: 1px solid #999999;*/
/*    display: table-cell;*/
/*    padding: 3px 10px;*/
/*}*/

/*.divTableBody {*/
/*    display: table-row-group;*/
/*}*/

/*.breadcrumb li {*/
/*    display: inline;*/
/*    max-width: 200px;*/
/*    white-space: nowrap;*/
/*    overflow: hidden; */
/*    text-overflow: ellipsis;*/
/*}*/

