:root {
    --color-theme-main: #3391c5;
    --color-theme-button-border: #5BA7D0;
    --color-theme-card-border: #efefee;
    --color-theme-text: #454545;
}

@font-face {
    font-family: Circe-bold;
    src: url('../fonts/circe-bold.ttf');
}

@font-face {
    font-family: Circe;
    src: url('../fonts/circe.ttf');
}

html body {
    font-family: Circe, sans-serif;

}

p span {
    font-family: Circe, sans-serif !important;
    font-size: 20px;
}

.breadcrumb .breadcrumb-item {
    letter-spacing: -1px;
}

h1, h4 {
    font-family: Circe-bold, sans-serif;
    letter-spacing: -1px;
}

.button_bg {
    background-color: var(--color-theme-main) !important;
    border-color: var(--color-theme-main) !important;
}

.button_bg:hover{
    background-color: var(--color-theme-button-border) !important;
    border-color: var(--color-theme-button-border) !important;
}

.nav-item .active {
    background-color: var(--color-theme-main) !important;
}

.nda-card {
    border: solid 1px var(--color-theme-card-border);
    border-radius: 0.25rem;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    position: relative;
}

.nda-card-image {
    border-radius: 10px;
    object-fit: fill;
}
.nda-card:hover img{
    filter:blur(7px);
}

.nda-card .card-title {
    opacity: 0;
}
.nda-card:hover .card-title {
    color: var(--color-theme-text);
    opacity: 1;
}

@media (max-width: 1200px) {
    .text-height-media {
        min-height: 130px;
    }
}

.thumbnail-carousel {
    display: flex;
    overflow: hidden;
}
.thumbnail-carousel .thumbnails {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
.thumbnail-carousel img {
    cursor: pointer;
}

@media (max-width: 4000px) {
    .main-container {
        margin-right: 18rem;
        margin-left: 18rem;
    }
}

@media (max-width: 2300px) {
    .main-container {
        margin-right: 15rem;
        margin-left: 15rem;
    }
}

@media (max-width: 1800px) {
    .main-container {
        margin-right: 12rem;
        margin-left: 12rem;
    }
}

@media (max-width: 1500px) {
    .main-container {
        margin-right: 7rem;
        margin-left: 7rem;
    }
}

@media (max-width: 1500px) {
    .main-container {
        margin-right: 5rem;
        margin-left: 5rem;
    }
}

@media (max-width: 999px) {
    .main-container {
        margin-right: 2rem;
        margin-left: 2rem;
    }
}

.offer-carousel-next {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-image: url('icons8-next-page-32.png');
}

.offer-carousel-previous {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-image: url('icons8-back-to-32.png');
}

.search_button {
    display: inline-block;
    min-height: calc(1.5em + (1rem + 2px));
    padding: 0.5rem 1rem;
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
    border-radius: 0.3rem;
    background-image: url('icons8-search.svg');
}