:root {
    --color-theme-1: rgba(0, 14, 152, 100);
    --color-theme-2: rgba(200, 80, 192, 100);
    --color-theme-3: rgba(217, 229, 236, 0.8);
    --color-theme-4: rgba(175, 222, 249, 0.8);
    --color-theme-1-light: color-mix(in srgb, var(--color-theme-1), #FFF 90%);
    --color-theme-2-light: color-mix(in srgb, var(--color-theme-2), #FFF 90%);

    --color-error: red;

    --color-background: #FFF;
    --color-shaded-background: #C0C0C0;
    --color-shaded-text: #808080;
    --color-text: #404040;
    --color-bright-text: #080808;
}

.nda-card {
    border: solid 1px var(--color-theme-3);
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    position: relative;

}

.nda-card-image {
    border-radius: 30px;
    object-fit: fill;
}
.nda-card:hover {
    border: solid 1px var(--color-theme-4);
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.nda-card .card-title {
    opacity: 0;
}
.nda-card:hover .card-title {
    color: var(--color-theme-1);
    opacity: 1;
}

.nda-card:hover .nda-card-overlay{
    background-image:
        radial-gradient(
        circle at 10% 10%,
        var(--color-theme-1-light),
        transparent 80%,
        var(--color-theme-1-light)
    );
}

@media (max-width: 1100px) {
    .text-height-media {
        min-height: 105px;
    }
}


.thumbnail-carousel {
    display: flex;
    overflow: hidden;
}
.thumbnail-carousel .thumbnails {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
.thumbnail-carousel img {
    /*max-height: 100px;*/
    cursor: pointer;
}
.selected-image img {
    width: 100%;
    height: auto;
}

@media (max-width: 4000px) {
    .main-container {
        margin-right: 18rem;
        margin-left: 18rem;
    }
}

@media (max-width: 2300px) {
    .main-container {
        margin-right: 15rem;
        margin-left: 15rem;
    }
}

@media (max-width: 1800px) {
    .main-container {
        margin-right: 12rem;
        margin-left: 12rem;
    }
}

@media (max-width: 1500px) {
    .main-container {
        margin-right: 7rem;
        margin-left: 7rem;
    }
}

@media (max-width: 1500px) {
    .main-container {
        margin-right: 5rem;
        margin-left: 5rem;
    }
}

@media (max-width: 999px) {
    .main-container {
        margin-right: 2rem;
        margin-left: 2rem;
    }
}