{% load thumbnail %}
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="background-color: #f9f9f7">
    <div class="carousel-inner">
        {% for ad in ads %}
            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" data-bs-interval="5000000">
                <div class="row">
                    <div class="col-auto flex-grow-1 mt-auto mb-auto me-auto p-3" style="margin-left: 10%; flex-basis: 30%;">
                        <a class="text-decoration-none text-reset" href="{% url 'category' category_slug=ad.advert_category.slug %}">
                            <h1 class="display-3 text-wrap">{{ ad.advert_category.name }}</h1>
                            <p>{{ ad.advert_text }}</p>
                         </a>
                    </div>
                    <div class="col-auto me-auto" style="margin-left: 10%;">
                        {% thumbnail ad.advert_image "450x450" crop="center" upscale=True as im %}
                        <img src="{{ im.url }}" alt="...">
                        {% endthumbnail %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
