{% extends 'core/base.html' %}
{% load cache %}
{% load static %}
<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
{% block title %}<title>{{ brand.name }}</title>{% endblock %}
{% block content %}
<body>
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">ГЛАВНАЯ</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ brand.name.upper }}</li>
        </ol>
    </nav>
    <p>Name: {{ brand.name.upper }}</p>
    {% if not brand.logo %}
        <img src="{% get_media_prefix %}default.jpg"/>
    {% else %}
        <img src="{{ brand.logo.url }}"/>
    {% endif %}
    <p>ID: {{ brand.id }}</p>
    <p>Description: {{ brand.description.upper }}</p>
    {% cache 600 categories brand.id%}
        <ul>
            {% for category in categories %}
                {% if category.is_final %}
                    <li>{{ forloop.counter }}:
                        {% if not category.logo %}
                            <img src="{% get_media_prefix %}default.jpg"/>
                        {% else %}
                            <img src="{{ category.logo.image.url }}"/>
                        {% endif %}
                        <a href="{% url 'offer' brand_slug=category.brand.slug category_slug=category.slug %}">
                            {{ category.name.upper }}
                        </a>
                    </li>
                {% else %}
                    <li>{{ forloop.counter }}:
                        {% if not category.logo %}
                            <img src="{% get_media_prefix %}default.jpg"/>
                        {% else %}
                            <img src="{{ category.logo.image.url }}"/>
                        {% endif %}
                            <a href="{% url 'category' category_slug=category.slug%}">{{ category.name.upper }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
{% endcache %}
</div>
</body>
{% endblock %}
