{% extends 'base.html' %}
{% load cache %}
{% load static %}
{% block title %}<title>{{ brand.name }}</title>{% endblock %}
{% block content %}
<body>
<div>
    <p style="display: inline;">
        <a href="{% url 'home' %}" class="a_top_hypers">ГЛАВНАЯ</a>
        -> <a>{{ brand.name.upper }}</a>
    </p>
    <p>Name: {{ brand.name.upper }}</p>
    {% if not brand.logo %}
        <img src="{% get_media_prefix %}default.jpg"/>
    {% else %}
        <img src="{{ brand.logo.url }}"/>
    {% endif %}
    <p>ID: {{ brand.id }}</p>
    <p>Description: {{ brand.description.upper }}</p>
{% cache 60 categories %}
        <ul>
        {% for category in categories %}
            {% if category.is_final %}
                <li>{{ forloop.counter }}:
                    {% if not category.logo %}
                        <img src="{% get_media_prefix %}default.jpg"/>
                    {% else %}
                        <img src="{{ category.logo.image.url }}"/>
                    {% endif %}
                    <a href="{% url 'offer' brand_slug=category.brand.slug category_slug=category.slug %}">{{ category.name.upper }}</a></li>
            {% else %}
                <li>{{ forloop.counter }}:
                    {% if not category.logo %}
                        <img src="{% get_media_prefix %}default.jpg"/>
                    {% else %}
                        <img src="{{ category.logo.image.url }}"/>
                    {% endif %}
                        <a href="{% url 'category' category_slug=category.slug%}">{{ category.name.upper }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
{% endcache %}
</div>
</body>
{% endblock %}
