{% extends 'core/base.html' %}
{% load cache %}
{% load static %}
{% load thumbnail %}
{% block title %}<title>{{ brand.name }}</title>{% endblock %}
{% block content %}
<body>
<dl class="row">
    <dd class="col-sm-9">
    {% if not brand.logo %}
        <img src="{% get_media_prefix %}default.jpg" height="100" width="140">
    {% else %}
        {% thumbnail brand.logo '140x100' upscale=True as im %}
            <img src="{{ im.url }}">
        {% endthumbnail %}
    {% endif %}
    </dd>
    <dd class="col-sm-8 p-1 fs-2 fw-bold text-uppercase"> {{ brand.name }}</dd>
    <dd class="col-sm-8 p-1 fs-4 fw-bold text-uppercase"> {{ brand.description }}</dd>
</dl>
<div class="row mx-5 mt-5 g-2 g-lg-3">
<div class="d-flex bd-highlight mb-3">
    <div class="mb-auto p-2 bd-highlight">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item fs-4"><a href="{% url 'home' %}">ГЛАВНАЯ</a></li>
                <li class="breadcrumb-item active fs-4" aria-current="page">{{ brand.name.upper }}</li>
            </ol>
        </nav>
</div>
</div>
</div>
{% cache 600 categories brand.id%}
    <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 mx-5 mt-5 g-2 g-lg-3">
        {% for category in categories %}
            {% if category.is_final %}
                <div class="col">
                    <div class="card nda-card border-dark rounded-2">
                        <a class="text-decoration-none" href="{% url 'offer' brand_slug=category.brand.slug category_slug=category.slug %}" style="color: inherit">
                            <div class="position-relative">
                                {% if not category.logo %}
                                    <img src="{% get_media_prefix %}default.jpg" class="card-img w-100 nda-card-image">
                                {% else %}
                                    {% thumbnail category.logo '221x152' upscale=True as im %}
                                        <img src="{{ im.url }}" class="card-image w-100 nda-card-image">
                                    {% endthumbnail %}
                                {% endif %}
                                <p class="p-1 card-text fs-6 text-uppercase">{{ category.name }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    <div class="card nda-card border-dark rounded-2">
                        <a class="text-decoration-none" href="{% url 'category' category_slug=category.slug %}" style="color: inherit">
                            <div class="position-relative">
                                {% if not category.logo %}
                                    <img src="{% get_media_prefix %}default.jpg" class="card-img w-100 nda-card-image">
                                {% else %}
                                    {% thumbnail category.logo '221x152' upscale=True as im %}
                                        <img src="{{ im.url }}" class="card-image w-100 nda-card-image">
                                    {% endthumbnail %}
                                {% endif %}
                            </div>
                            <p class="p-1 card-text fs-6 text-uppercase">{{ category.name }}</p>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    </div>
{% endcache %}

</body>
{% endblock %}
