{% load static %}
<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">ГЛАВНАЯ</a></li>
            {% if category.brand %}
                <li class="breadcrumb-item">
                    <a href="{% url 'brand' brand_slug=category.brand.slug %}">
                        {{ category.brand.name.upper }}
                    </a>
                </li>
        {% endif %}
        {% if not breadcrumbs %}
            <li class="breadcrumb-item active" aria-current="page">{{ category.name.upper }}</li>
        {% else %}
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item">
                    <a href="{% url 'category' category_slug=breadcrumb.slug %}">
                        {{ breadcrumb.name.upper }}
                    </a>
                </li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">{{ category.name.upper }}</li>
        {% endif %}
        </ol>
    </nav>
</div>
