{% extends 'catalog/base.html' %}

{% block content %}
<body>
<div class="tabs">
  <ul class="tab-list">
    <li class="tab-item active" data-tab="tab1">Каталог по производителям</li>
    <li class="tab-item"    data-tab="tab2">Каталог по категориям</li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <div class="box">
      {% for brand in brands %}
	<div class="selection">
    {% if brand_image %}
        <p class="back_fon">
            <img src="{{ brand.brand_image.url }}" alt="{{ brand.name }}" />
        </p>
        {% endif %}
        <a href='{{ brand.get_absolute_url }}'>{{ brand.name }}</a>
    </div>
	{% endfor %}
</div>
    </div>
    <div class="tab-pane" id="tab2">
      <div class="box">
          {% for category in categories %}
		<div class="selection">
        {% if unit_image %}
        <p class="back_fon">
            <img src="{{ category.category_image.url }}" alt="{{ category.name }}" />
        </p>
        {% endif %}
	    <a href='{{ category.get_absolute_url }}'> {{ category.name }}</a>
        </div>
	{% endfor %}
    </div>
        </div>
  </div>
</div>
<script>document.addEventListener('DOMContentLoaded', function() {
  var tabItems = document.querySelectorAll('.tab-item');

  tabItems.forEach(function(tab) {
    tab.addEventListener('click', function() {
      var tabId = this.getAttribute('data-tab');
      var content = document.getElementById(tabId);

      // Удаляем активный класс у текущих вкладок и контента
      document.querySelector('.tab-item.active').classList.remove('active');
      document.querySelector('.tab-pane.active').classList.remove('active');

      // Добавляем активный класс для выбранной вкладки и контента
      this.classList.add('active');
      content.classList.add('active');
    });
  });
});
      </script>
</body>

{% endblock %}
