{% extends 'core/base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}<title>{{ category.name }}</title>{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

{% include 'catalog/components/banner.html' %}

<div class="main-container">

    {% include 'catalog/components/breadcrumbs.html' %}

    <div class="row">
        <div class="col-md-5">
            <div class="d-flex justify-content-center align-items-center">
                {% thumbnail images.all.0.image "450x450" as im %}
                    <img id="mainImage" src="{{ im.url }}" class="img-fluid w-auto" style="height: 450px;">
                {% endthumbnail %}
            </div>
            <div class="thumbnail-carousel carousel carousel-dark">
                <a class="carousel-control-prev" type="button" id="prevControl">
                    <span class="offer-carousel-previous" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" type="button" id="nextControl">
                    <span class="offer-carousel-next" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
                <div class="thumbnails" style="margin: auto">
                    {% for image in images %}
                        {% thumbnail image.image "450x450" as im %}
                            <img src="{{ im.url }}" class="p-2 w-auto" style="height: 150px; " onclick="changeImage(this.src)">
                        {% endthumbnail %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-7 d-flex flex-column justify-content-start">
            <h1>{{ category.name }}</h1>
            <p>{{ category.description|safe }}</p>
            </div>
    </div>

    <div class="d-flex flex-row flex-wrap">
        <table class="table table-bordered table-sm my-5" style="border: 2px solid #3f96c9; box-shadow: 0 0 5px 0 #000000">
            <thead>
                <tr style="background: rgb(249, 249, 247);">
                    <th scope="col" class="col-sm-1 text-center" style="border-right: 1px solid #a1a1a0">
                        <strong>Код</strong>
                    </th>
                    <th scope="col" class="col-sm-9 text-start" style="border-right: 1px solid #a1a1a0">
                        <strong>Описание</strong>
                    </th>
                    <th scope="col" class="col-sm-2">
                        Количество
                    </th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for offer in offers %}
                <tr>
                    <td class="text-center align-middle" style="border-top: 1px solid #a1a1a0; border-bottom: 1px solid #a1a1a0; border-right: 1px solid #a1a1a0;">
                        {{ offer.name }}
                    </td>
                    <td class="text-start align-middle" style="border-top: 1px solid #a1a1a0; border-left: 1px solid #a1a1a0; border-right: 1px solid #a1a1a0;">
                        {{ offer.description}}
                    </td>
                    <td class="text-start align-middle" style="border-top: 1px solid #a1a1a0; border-left: 1px solid #a1a1a0;">
                        <form hx-post="{% url 'cart_add' offer_id=offer.pk %}" hx-target="#cart" hx-swap="outerHTML">
                            {% csrf_token %}
                            <div class="input-group justify-content-evenly">
                                <input class="form-control" type="number" name="quantity" min="1" required="" id="id_quantity">
                                <button class="btn btn-primary" type="submit" value="">Добавить</button>
                            </div>
                        </form>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="cart">
        <div>Позиций в запросе: <span id="offers-in-cart-counter">{{ offers_in_cart|length }}</span></div>
        <button
                type="button"
                class="btn btn-primary"
                hx-get="{% url 'cart_modal' %}"
                hx-target="#dialog"
        >
            Отправить запрос
        </button>
    </div>

    <!-- Placeholder for the modal -->
    <div id="modal" class="modal fade">
      <div id="dialog" class="modal-dialog" hx-target="this"></div>
    </div>

    <!-- Empty toast to show the message -->

    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 2000;">
        <div id="toast" class="toast align-items-center text-white border-0 bg-success" role="alert" aria-live="assertive"
        aria-atomic="true">
            <div class="d-flex">
                <div id="toast-body" class="toast-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close">
                </button>
            </div>
        </div>
        <div id="toast-warning" class="toast align-items-center text-white border-0 bg-warning" role="alert" aria-live="assertive"
        aria-atomic="true">
            <div class="d-flex">
                <div id="toast-warning-body" class="toast-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close">
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    // product photos carousel
    const thumbnails = document.querySelector('.thumbnails');
    const prevControl = document.getElementById('prevControl');
    const nextControl = document.getElementById('nextControl');
    const thumbnailsDivWidth = 526;
    const thumbnailWidth = 150;
    const thumbnailsWidth = thumbnailWidth * document.querySelectorAll('.thumbnails img').length
    const currentOffset = thumbnailsDivWidth < thumbnailsWidth
        ? (thumbnailsDivWidth - thumbnailsWidth) / 2
        :0 ;


    function changeImage(src) {
        document.getElementById('mainImage').src = src;
    }

    function moveImagesLeft(){
        const thumbnailImages = document.querySelectorAll('.thumbnails img');
        const itemToRemove = thumbnailImages[0]
        thumbnails.appendChild(itemToRemove)
        itemToRemove.remove
    }

    function moveImagesRight(){
        const thumbnailImages = document.querySelectorAll('.thumbnails img');
        const itemToRemove = thumbnailImages[thumbnailImages.length - 1]
        const firstItem = thumbnailImages[0]
        thumbnails.insertBefore(itemToRemove, firstItem)
        itemToRemove.remove
    }

    function updateCarousel(direction) {
        if (direction === 'next') {
            moveImagesLeft()
        } else if (direction === 'prev') {
            moveImagesRight()
        }
    }

    thumbnails.style.transform = `translateX(${currentOffset}px)`;

    prevControl.addEventListener('click', () => updateCarousel('prev'));
    nextControl.addEventListener('click', () => updateCarousel('next'));

    // replace <span id="offers-in-cart-counter"> inner value with reduced one 
    document.addEventListener('htmx:afterOnLoad', function(event) {
        if (event?.detail?.requestConfig?.elt?.id !== "remove-offer-button") {
            return
        }
        const counter = document.querySelector("#offers-in-cart-counter")
        const currentCount = parseInt(counter.textContent, 10);
    
        if (!isNaN(currentCount) && currentCount > 0) {
            counter.textContent = String(currentCount - 1);
        }
    });

        
    ;(function() {
        htmx.on("showMessage", (e) => {
          const toastElement = document.getElementById("toast")
          const toastBody = document.getElementById("toast-body")
          const toast = new bootstrap.Toast(toastElement, { delay: 2000 })
          toastBody.innerText = e.detail.value
          toast.show()
        })

        htmx.on("showError", (e) => {
          const toastElement = document.getElementById("toast-warning")
          const toastBody = document.getElementById("toast-warning-body")
          const toast = new bootstrap.Toast(toastElement, { delay: 2000 })
          toastBody.innerText = e.detail.value
          toast.show()
        })
        
        const modal = new bootstrap.Modal(document.getElementById("modal"))
    
        htmx.on("htmx:afterSwap", (e) => {
          // Response targeting #dialog => show the modal
          if (e.detail.target.id == "dialog") {
            modal.show()
          }
        })
    
        htmx.on("htmx:beforeSwap", (e) => {
        // Empty response targeting #cart_modal_form => hide the modal
        if (e.detail.target.id == "cart_modal_form" && !e.detail.xhr.response) {
          modal.hide()
          e.detail.shouldSwap = false
          const counter = document.querySelector("#offers-in-cart-counter")
          counter.textContent = String(0);
        }
        })
    
        // Remove dialog content after hiding
        htmx.on("hidden.bs.modal", () => {
        document.getElementById("dialog").innerHTML = ""
        })
    })()
  </script>

{% endblock %}
