{% extends 'base.html' %}
{% block title %}<title>{{ category.name }}</title>{% endblock %}
{% block content %}
<body>
<div>
{% include 'catalog/breadcrumbs.html' %}
<input type='button' onclick='history.back();' value='Пред. страница'/>
    <p>Brand: <a href="{% url 'brand' brand_slug=brand.slug %}">{{ category.brand }}</a></p>
    <p>Name: {{ category.name.upper }}</p>
    <p>Description: {{ category.description }}</p>
{% for image in images %}
    <div><img src="{{ image }}"/></div>
{% endfor %}
{% for certificate in certificates %}
    <div>РУ: <a href='{{ certificate }}'>Скачать</a></div>
{% endfor %}
{% if category.instruction %}
    <div>Инструкция: <a href='{{ category.instruction.url }}'>Скачать</a></div>
{% endif %}
    {% for offer in offers %}
    <p>Name: {{ offer.name.upper }}</p>
    <p>Description: {{ offer.description }}</p>
    <form action="{% url 'cart_add' offer_id=offer.pk %}" method='post'>
    {{ cart_product_form }}
    {% csrf_token %}
    <button type='submit'>Add to cart</button>
    </form>
    {% endfor %}
</div>
</body>
{% endblock %}