{% extends 'base.html' %}
{%  block title %}<title>{{ brand.name }}</title>{% endblock %}
{% block content %}
<body>
<div>
    <p>Name: {{ brand.name }}</p>
    <p>ID: {{ brand.id }}</p>
    <p>Description: {{ brand.description }}</p>
        <ul>
        {% for category in categories %}
            {% if category.is_final %}
                <li>{{ forloop.counter }}: <a href="{% url 'offer' brand_id=category.brand_id category_id=category.id%}">{{ category.name }}</a></li>
            {% else %}
                <li>{{ forloop.counter }}: <a href="{% url 'category' category_id=category.id%}">{{ category.name }}</a></li>
            {% endif %}
        {% endfor %}
</div>
</body>
{% endblock %}
