{% extends 'core/base.html' %}
{% load static %}

{% block title %}
  <title>{{ category.title }}</title>
{% endblock %}

{% block metatag %}
  <meta name="keywords" content="{{ category.keywords }}" />
  <meta property="og:url" content="https://nda.ru{% url 'category' category_slug=category.slug %}" />
  <meta property="og:title" content="{{ category.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ category.ceo_description|striptags }}" />
  <meta name="description" content="{{ category.ceo_description|striptags }}" />
{% endblock %}

{% block content %}
    <main class="catalog-inner">
        <div class="container">

            {% include 'core/components/breadcrumbs.html' %}
            {% include 'core/components/banner.html' %}

            <section class="catalog-grid">
                {% for category in categories %}
                    <a href="{% url 'category' category_slug=category.slug %}" class="catalog-card">
                        <div class="catalog-card__img-wrap">
                            {% if category.logo %}
                                <img class="catalog-card__img" src="{{ category.logo.url }}" alt="{{category.name}}" width="150" height="150">
                            {% else %}
                                <img class="catalog-card__img" src="{% static '/img/noImage.jpg' %}" alt="Нет логотипа" width="150" height="150">
                            {% endif %}
                        </div>
                        <h2 class="catalog-card__title t-20-29">{{ category.name }}</h2>
                    </a>
                {% endfor %}
                {% for product in products %}
                    <a href="{% url 'offer' brand_slug=product.brand.slug product_slug=product.slug %}" class="catalog-card">
                        <div class="catalog-card__img-wrap">
                            {% if product.logo %}
                                <img class="catalog-card__img" src="{{ product.logo.url }}" alt="{{product.name}}" width="150" height="150">
                            {% else %}
                                <img class="catalog-card__img" src="{% static '/img/noImage.jpg' %}" alt="Нет логотипа" width="150" height="150">
                            {% endif %}
                        </div>
                        <h2 class="catalog-card__title t-20-29">{{ product.name }}</h2>
                    </a>
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}
