{% extends 'base.html' %}
{% block title %}<title>{{ category.name }}</title>{% endblock %}
{% block content %}
<body>
<div>
    {% if category.brand %}
      <p>Brand: <a href="{% url 'brand' brand_slug=category.brand.slug %}">{{ category.brand.name.upper }}</a></p>
    {% else %}
      <p>No Brand</p>
    {% endif %}
    <p>Name: {{ category.name.upper }}</p>
    <p>Description: {{ category.description.upper }}</p>
      {% for category in category.parents.all %}
            <li>{{ forloop.counter }}: <a href="{% url 'category' category_slug=category.slug %}">{{ category.name.upper }}</a></li>
      {% empty %}
          <li>No parents</li>
      {% endfor %}
      <p>Children:</p>
      <ul>
      {% for category in category.children.all %}
            {% if category.is_final %}
                <li>{{ forloop.counter }}: <a href="{% url 'offer' brand_slug=category.brand.slug category_slug=category.slug %}">{{ category.name.upper }}</a></li>
            {% else %}
                <li>{{ forloop.counter }}: <a href="{% url 'category' category_slug=category.slug%}">{{ category.name.upper }}</a></li>
            {% endif %}
      {% empty %}
          <li>No children</li>
      {% endfor %}
      </ul>
</div>
</body>
{% endblock %}
