{% extends 'core/base.html' %}
{% load cache %}
{% load static %}

{% block title %}
  <title>НДА — Деловая медицинская компания</title>
{% endblock %}

{% block canonical_link %}
     <link rel="canonical" href="https://nda.ru/">
{% endblock %}

{% block metatag %}
  <meta name="keywords" content="Продажа изделий медицинского назначения - общероссийский поставщик.">
  <meta property="og:url" content="https://nda.ru/">
  <meta property="og:title" content="ООО &quot;НДА Деловая медицинская компания&quot;">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Официальный сайт ООО &quot;НДА Деловая медицинская компания&quot; -  продажа изделий медицинского назначения от мировых лидеров.">
  <meta name="description" content="Официальный сайт ООО &quot;НДА Деловая медицинская компания&quot; -  продажа изделий медицинского назначения от мировых лидеров.">
{% endblock %}

{% block content %}
    <header>
        {% include 'core/components/subheader.html' %}
    </header>
    {% cache 600 index_page %}
        <main>
            {% include 'core/components/catalog.html' %}
            <section class="about">
              <div class="container">
                <div class="about__inner">
                  <div class="about__media">
                    <div class="about__gallery swiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide"><img class="about__img" src="{% static 'img/Sklad_NDA.jpg' %}" alt=""></div>
                        <div class="swiper-slide"><img class="about__img" src="{% static 'img/Sklad_NDA_2.jpg' %}" alt=""></div>
                        <div class="swiper-slide"><img class="about__img" src="{% static 'img/Sklad_NDA_5.jpg' %}" alt=""></div>
                      </div>
                    </div>
                    <div class="about__pagination swiper-pagination"></div>
                  </div>
                  <div class="about__content">
                    <h2 class="about__title t-85-100">Работаем для вас с 1992 года</h2>
                    <div class="about__text">
                        <p class="t-20">Компания "НДА Деловая медицинская компания" уже более 30 лет является Вашим партнером
                            и поставщиком оборудования и расходных материалов для хирургии, анестезиологии и реанимации,
                            рентгенхирургии и других направлений.</p>
                        <p class="t-20">Наш новый складской комплекс, расположенный на площади более 6000 квадратных метров
                            позволяет компании имеет большие складские запасы самых популярных товаров, поэтому может поставить
                            их в короткие сроки. Мы гарантируем Вам качество продукции, представленной на сайте. На все товары
                            нашего каталога есть Регистрационные удостоверения МЗ РФ.</p>
                        <p class="t-20">Нашими поставщиками являются мировые лидеры в производстве оборудования и расходных
                            медицинских материалов. С их продукцией Вы можете ознакомиться на нашем сайте.</p>
                        <p class="t-20">В настоящее время у нашей компании более 7500 клиентов. Таких успехов мы добились
                            благодаря слаженной работе всего нашего дружного коллектива и конечно благодаря Вам -
                            нашим клиентам.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="office">
              <div class="container">
                <h2 class="office__title t-office-title">Наш офис и склад</h2>
                <div class="office__map-wrap">
                  <iframe
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A483b0761fd50f52fa933af3311c796503d73aaca44becb79b973a587356fa263&amp;source=constructor&amp;theme=dark&amp;scroll=false"
                    width="100%" height="100%" frameborder="0"></iframe>
                </div>
              </div>
            </section>
        </main>
    {% endcache %}
{% endblock %}
